[2019-01-24 06:56] niboshi opened #6075 "Travis test steps would ignore failures in non-last commands"
First reported in #6068.
If a step of test consists of multiple commands, errors caused in non-last commands are being ignored.

Example:
https://travis-ci.org/chainer/chainer/jobs/483290510

Cause:
https://github.com/chainer/chainer/pull/6068#issuecomment-456829783

[2019-01-24 06:57] kuenishi commented on #6073
Looks like that some of python processes failed to find right number of GPU. Please make sure the hostfile is correctly described with number of slots, and each nodes have right number of GPUs  by listing device files. `/dev/nvidia[0-9]` . Maybe printing `device` variable may help.

[2019-01-24 06:59] kuenishi commented on #6073
Also I'd recommend posting this type of support questions to mailing list ( https://groups.google.com/forum/#!topic/chainer/N-4Ba65dEWA ) or going to [Slack](https://chainer.slack.com/join/shared_invite/enQtMjk4ODE3NjA4MzM3LTNiMzM4YmY3ZTFjMmE3YWZlY2IzMTg3NGZiMzE2OGExMTExYTcxNzRjNGM3Mjc4ZjY3MjZlOTNlNzZmMTE2M2M) .

[2019-01-24 07:34] niboshi opened #6079 "#5538 should be backported?"
#5538
I think it's a bugfix thus we should backport it.

[2019-01-24 08:10] NoDirective commented on #6073
@kuenishi
Thank you very much . I missed slots in hostfile. thank you for help

[2019-01-24 08:10] #6073 closed

[2019-01-24 08:18] takagi commented on #5621
I look in CuPy's memory management routines.

[2019-01-24 08:55] keisukefukuda commented on #6073
Maybe you can try `mpiexec -n 2 --allow-run-as-root --mca btl_tcp_if_exclude docker0,lo --hostfile hostfile nviida-smi`

There should be 2 outputs from `nvidia-smi` (which are possibly mixed). You can make sure that the GPUs are available from your MPI program.

[2019-01-24 09:04] niboshi opened #6080 "Document NumPy 1.16 support"

[2019-01-25 01:21] #5674 closed

[2019-01-25 02:31] niboshi opened #6084 "Consider introducing a separate namespace for ChainerX array routines"
During implementation of float16 support (#5845), we're introducing math functions that can take our own float16 type (e.g. `T chainerx::Tanh(T)` for wrapping `std::tanh`). That would conflict with the differentiable array function `Array chainerx::Tanh(const Array&)`. I feel it's better to put array routines into a separate namespace.

[2019-01-25 02:34] #5929 closed

[2019-01-25 06:01] #6059 closed

[2019-01-25 06:36] niboshi opened #6087 "F.triplet float16 test uses too large tolerances"
https://github.com/chainer/chainer/blob/8194863f9742319769fc29fcf5db72ca13a38792/tests/chainer_tests/functions_tests/loss_tests/test_triplet.py#L55

5e0 is way too large.

[2019-01-25 07:36] toslunar commented on #6080
- [ ] Add config to chainer-test (chainer/chainer-test#483)
- [ ] Fix Chainer's docs

[2019-01-25 07:56] #5897 closed

[2019-01-25 08:30] okapies opened #6088 "`ndarray.take` is relatively slow"
ChainreX's `ndarray.take()` method is relatively slower than ones in NumPy and CuPy.

Related to #6081.

# Benchmarks
- Data: mnist train images (`(6000, 784)`)
- Epochs: `20`

The benchmark script is [here](https://gist.github.com/okapies/fac7bf4a5971c092bccadb2face4284f).

[code]

[2019-01-25 08:32] niboshi commented on #6088
ChainerX native backend  is currently not optimized at all.
CUDA backend shoud be (at least almost) as fast as cupy, though.

[2019-01-25 08:48] hvy opened #6089 "Test"
Testing GitHub projects archivation. Please ignore this issue.

[2019-01-25 08:51] #6089 closed

[2019-01-26 04:51] #5925 closed

[2019-01-26 05:06] #5916 closed

[2019-01-26 06:52] takagi commented on #5621
I observed how memory blocks are allocated in ReLU backward computation, that is `ReLuGrad2`'s forward computation. The reason I selected the part is that `ReLUGrad2` has reasonable difference in acquired bytes above and `ReLUGrad2.forward_gpu` has just a call to a CuPy operation.

**Python2; Chainer 4.5 & CuPy 4.5**
[code]
[code]
**Python2; Chainer 5.0 & CuPy 5.0**
[code]
[code]
It looks that mem

[2019-01-26 07:05] takagi commented on #6087
`gradient_check.check_double_backward` should take `dtype` parameter for more precise numerical gradient.

[2019-01-26 08:53] Dinxin opened #6092 "How to convert a vector into a diagonal matrix like np.diag() in numpy?"
If your issue is a **request for support in using Chainer**,
please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/chainer).

If it is a **bug report**, **feature request** or **suggestion**,
please take a look at [our contribution guide](https://docs.chainer.org/en/stable/contribution.html).

Specifically, if it is a bug report, these information are very helpful:

* Condi

[2019-01-26 10:14] niboshi commented on #6088
It seems the device is not synchronized in the benchmark script.
What if it's done?

Also, nvvp might be useful to investigate this kind of multi-kernel performance issue.

[2019-01-26 10:22] niboshi opened #6094 "Check output in example tests"
In example CI, currently it's only checked that the examples can be run without errors. No output is checked.
https://github.com/chainer/chainer-test/blob/fc5520350944b93d769986e30e697d6e0092a94d/test_example.sh

We could improve this test to check output using regular expressions, for example.
(We could have been able to detect an issue like https://github.com/chainer/chainer/pull/6091.)

[2019-01-27 12:09] niboshi opened #6097 "Shouldn't `Iterator.__exit__` call `finalize`?"
`Iterator.__exit__` does nothing by default. A user-defined iterator will not be finalized with `with` syntax.

Documentation encourages overriding `__enter__` and `__exit__` as well as `finalize`, but it looks to me that they are duplicate interfaces that do not work well with each other.

[2019-01-27 12:57] niboshi commented on #6097
Also, `Iterator.__del__` doesn't call `finalize`.

[2019-01-28 02:46] niboshi opened #6101 "Validation loss and perplexity not printed in seq2seq example"
With the fix #6091, `validation/main/bleu` is now printed, but `validation/main/loss` and `validation/main/perp` are not.

[code]

[2019-01-28 04:38] niboshi opened #6104 "Enable ChainerX test in Travis Windows CI"
Related: #5887

PR: #6103

[2019-01-28 04:59] niboshi opened #6106 "ChainerX (Python and C++) test on Travis"
Currently only Python `chainer_tests` (with ChainerX enabled) is tested in Travis CI.

C++ tests and Python `chainerx_tests` can be done as well.

[2019-01-28 05:48] keisukefukuda commented on #5631
Thanks for the info.  :+1: (and sorry for the delay of our reaction and response)

[2019-01-28 05:49] #6025 closed

[2019-01-28 08:29] niboshi opened #6115 "Throw exception on chainerx::Array{nullptr}"
An exception should be raised here, instead of using `gsl::not_null`.

https://github.com/chainer/chainer/blob/8a3849f5366f2fa11ff3f641d52e63b00e7af9b4/chainerx_cc/chainerx/array.h#L51

Currently passing `None` as an array leads to SIGABRT.
[code]

[2019-01-28 08:33] niboshi commented on #6115
I think this ctor should be private. In that case the check can be done elsewhere.

[2019-01-28 09:03] okapies opened #6116 "Variable and Parameter specification details"
This issue is to discuss the behavior of `Variable` and `Parameter`.

## 1. Lazy initialization of `Parameter`
The constructor of `Parameter` (`__init__`) receives `initializer` and `shape` arguments. It initializes an internal `_data` with the specified `initializer` when its type is array even if `shape` is unknown (`None`).

It can be initialized *lazily* when once the `shape` is specified.

##

[2019-01-28 09:07] niboshi opened #6117 "FunctionNode.get_retained_outputs returns None if retain_outputs is not called"
`FunctionNode.get_retained_outputs` returns `None` if `retain_outputs` is not called.

[code]
[code]

If `retain_outputs` is called, it becomes `()`.
OTOH `retain_inputs` is consistent.

[2019-01-28 09:36] toslunar opened #6119 "Strange result with `L.Linear`, `to_gpu`, and `zerograds`."
* Conditions
[code]

* Code to reproduce
[code]

[2019-01-28 10:02] niboshi commented on #6116
Regarding 1, there's a discussion on slack:
https://chainer.slack.com/archives/C5P26TUR1/p1548344215041600

[2019-01-28 10:28] niboshi opened #6120 "Handle None as FunctionNode input with ChainerX"
Required in seq2seq example.

[2019-01-28 16:15] #6075 closed

[2019-01-29 01:59] fiarabbit commented on #6119
This can be observed in v6.0.0b1, but is not observed in 5.1.0.

[code]

[code]

[2019-01-29 02:48] fiarabbit commented on #6119
`Parameter._grad` should be reference to `Parameter._grad_var.array` when `W._grad_var` is not `None`, but it is not the case when `to_gpu()`.

[code]

[2019-01-29 03:24] fiarabbit opened #6129 "Parameter._grad stays on CPU after `to_gpu`"
related to #6119. This only occurs after v6.0.0b1.

Code to reproduce
[code]
[code]
[code]

[2019-01-29 05:03] hvy opened #6131 "Python 3.4 to reach end-of-life"
Python 3.4. will reach end-of-life (EOL) by 2019-03-16 and will no longer be maintained.
https://devguide.python.org/#status-of-python-branches

Chainer should thus accordingly update the requirements,  CI, docs, deprecations/warnings and maybe type hints (introduced in Python 3.5) (https://www.python.org/dev/peps/pep-0484/  .

[2019-01-29 05:08] hvy opened #6132 "Travis macOS Py34 is failing"
The Travis job for macOS (runs only with the `master` branch) is failing when NumPy is used with the Accelerate backend in `numpy.polynomial.polynomial.polfit` in the gradient check. It is confirmed that this failure does not occur with Python 3.5.1, nor with NumPy with OpenBLAS.

[2019-01-29 05:09] hvy commented on #6132
Won't become an issue if Python 3.4 support is dropped https://github.com/chainer/chainer/issues/6131.

[2019-01-29 05:12] kuenishi opened #6133 "Debug mode in ChainerMN part"
In case of multi-GPU run when one local mini-batch happened to have  `.grad=None` (reasons could vary, like returning loss without building computational graph?, no labels in that mini-batch), current ChainerMN has no support to debug it, but just block or fail on runtime. In possible debug mode would be like exchange all shape right before allreduce-ing gradients, detect failure scenario and prev

[2019-01-29 05:13] tgpfeiffer opened #6134 "cuDNN required in v6?"
Chainer code that used to work fine with 5.2 does not work any more with 6.0.0b2, presumably because I don't have cuDNN installed.

* Conditions
  - Chainer version: 6.0.0b2
  - CuPy version: 6.0.0b2
  - OS/Platform: Ubuntu 16.04
  - CUDA/cuDNN version: CUDA 8.0/no cuDNN
* Code to reproduce: `python3 -c "from chainer.backends import cuda; cuda.check_cuda_available()"`
* Error messages, stack trace

[2019-01-29 06:05] okapies commented on #6116
IMO, `Variable` should have an attribute independent from `array` and `xp` which expresses three states like `uninitialized`, `initialied_with_non_chainerx` and `initialized_with_chainerx`, and fix the methods to raise an error when they receive an invalid argument in the invalid state. (e.g. `array(<cupy.ndarray>) raises `TypeError` when the variable is in `initialized_with_chainerx` state`). Any

[2019-01-29 09:22] hvy commented on #6106
Closing as fixed by #6109 and #6110 .

[2019-01-29 09:22] #6106 closed

[2019-01-29 09:23] #5887 closed

[2019-01-29 10:45] kurita236 commented on #5351
How about the Progress?

[2019-01-29 11:07] Crissman opened #6137 "Unable to make Sphinx Doc without chainer.Backend"
Reproduced both with and without CuPy and a useable GPU.

[code]

[code]

Backend appears to reside in chainerx_cc/ and not chainerx/. Can sphinx docs be made without compiling?

[2019-01-29 11:27] kmaehashi commented on #6137
Currently `make html` requires ChainerX to be built.

[2019-01-29 13:34] #6080 closed

[2019-01-29 13:40] niboshi commented on #6056
PR submitted. #6142

("Comparison with Other Frameworks" is left, as it's out of scope.)

[2019-01-29 16:53] #6087 closed

[2019-01-30 01:08] Crissman commented on #6092
@Dinxin Please move this question to [Stack Overflow](https://stackoverflow.com/questions/tagged/chainer), and we'll be happy to help you there.

Thanks,

[2019-01-30 01:08] #6092 closed

[2019-01-30 02:21] #6117 closed

[2019-01-30 02:31] okapies commented on #6116
As said in https://github.com/chainer/chainer/issues/6058#issuecomment-458539184, reassignment of `array` from the different device will be forbidden.

[2019-01-30 02:40] Crissman commented on #6137
Ok. We should add that requirement to the [Contribution document](https://docs.chainer.org/en/latest/contribution.html).

[2019-01-30 02:50] Crissman commented on #6137
I believe ChainerX will be an optional component of Chainer at release, and this makes it mandatory for making current documentation. Also, can this be avoided?

[2019-01-30 06:56] niboshi opened #6146 "Reconsider using mypy in CI"
It requires manual type annotations in the code, which is difficult to understand/write for external contributors and make the code less readable.

We decided to stop checking annotations with mypy in CIs while optionally allowing type hints on function signatures and attributes. That would allow users to type-check their code by using mypy.

However one concern remains: if Chainer lacks annotatio

[2019-01-30 07:00] kmaehashi commented on #6079
Backported as #6147

[2019-01-30 07:00] #6079 closed

[2019-01-30 07:24] hiden-cubist opened #6148 "Dead link to Penn Tree Bank"
Link to Penn Tree Bank is missing.
https://docs.chainer.org/en/latest/reference/generated/chainer.datasets.get_ptb_words.html#chainer.datasets.get_ptb_words

[2019-01-30 07:47] kmaehashi commented on #6137
For testing purposes, you can use `SPHINXOPTS= make html` to temporary avoid the error.
The build documentation is incomplete (ChainerX part will become blank).

[2019-01-30 09:34] #6056 closed

[2019-01-30 10:56] #6134 closed

[2019-01-30 11:12] takagi commented on #5621
@surajkota Would you try the latest `v5` branch on your Python2 environment? The problem should be away.

[2019-01-30 12:20] niboshi commented on #6132
We decided to drop Python 3.4. This issue will be tracked via #6131.

[2019-01-30 17:49] saydulk commented on #5621
same problem

![screenshot from 2019-01-30 23-49-25](https://user-images.githubusercontent.com/1058663/52001467-b0944e00-24e9-11e9-9f08-50a60b713bec.png)

[2019-01-30 18:12] surajkota commented on #5621
Thanks takagi@, okuta@ and chainer community for prioritizing the issue.

I will follow the instructions here: https://docs.chainer.org/en/stable/install.html#using-tarball to build chainer from master branch
do I need to build both Chainer and Cupy from source?

[2019-01-30 19:37] MannyKayy opened #6151 "static_graph context manager"
Context managers may provide a more intuitive interface to the cache sub-graph operation than decorators. This feature would be simpler and easier to integrate into existing code than the current static sub-graph interface.  I guess that the focus on decorators is because sub-graph is applied to the `__call__()` function; but updating code to support static-subgraphs this way is very restrictive.

[2019-01-30 21:36] #2903 closed

[2019-01-31 01:12] Crissman commented on #6137
Thanks. That will reduce my time in testing docs. Should I make a PR to update the Contribution Document to include that, or wait until a permanent fix is done in the ChainerX sprint backlog?

[2019-01-31 02:05] hvy commented on #6116
@okapies Should the `requires_grad` be covered in this issue as well you think? This issue addresses that fact that it's not very well documented (although being a public interface) https://github.com/chainer/chainer/issues/5454

[2019-01-31 03:03] niboshi commented on #6146
I found mypy doesn't check extenal modules' internal typing by default (unless `--no-silence-site-packages` is specified).

[2019-01-31 05:02] niboshi opened #6153 "Raise error in FunctionNode.get_retained_{in,out}puts if forward is not called"
This discussion arose from a backport PR #6145: those functions return `None` even if `forward()` is not called, but an error could be better.

(#6118 has changed the return value from `None` to `()`.)

[2019-01-31 05:10] takagi commented on #5621
Would you try to build `v5` Chainer first, which does not take so much time? I think #6105 is the most effective fix.

[2019-01-31 05:29] beam2d opened #6154 "`L.Deconvolution2D` lacks `dilate` option"
although `F.deconvolution_2d` already supports it.

[2019-01-31 06:22] okapies commented on #6116
Added to the description.

[2019-01-31 07:51] Crissman commented on #5039
Re-opening as an open improvement for our documentation.

[2019-01-31 08:56] gwtnb commented on #4582
It seems that functions and links in ChainerMN are omitted. e.g. https://github.com/chainer/chainer/blob/f4ba08a521b9154f619b70634b7c5a4f7249944e/chainermn/links/batch_normalization.py#L48

[2019-01-31 09:58] crcrpar opened #6158 "`F.mean_absolute_error` backward fails on ChainerX"
The backward of `F.mean_absolute_error` fails because chainerx does not support `sign`.

https://github.com/chainer/chainer/blob/f4ba08a521b9154f619b70634b7c5a4f7249944e/chainer/functions/loss/mean_absolute_error.py#L33-L38

* Conditions
[code]
* Code to reproduce
[code]
* Error messages, stack traces, or logs
[code]

[2019-01-31 10:10] niboshi commented on #6158
Thank you for reporting!

Actually, currently not all of the Chainer functions are tested against ChainerX.
We assume there are many functions that do not work, just like `F.mean_absolute_error`.
We hope we will soon pull out of this situation by finishing the test rewrites tracked at #6071.

We really appreciate this kind of reports/requests though, because such reports work as indication of dema

[2019-02-01 01:24] shu65 opened #6161 "FP16 support in various functions and links of ChainerMN"
Related to https://github.com/chainer/chainer/pull/4510 and https://github.com/chainer/chainer/issues/4582. It looks the following functions and links of ChainerMN should be fixed somehow to support fp16.

functions:

- [x] allgather (https://github.com/chainer/chainer/pull/7456)
- [x] alltoall (https://github.com/chainer/chainer/pull/7456)
- [x] bcast (https://github.com/chainer/chainer/pull/7456

[2019-02-01 01:34] #6097 closed

[2019-02-01 02:49] shinh opened #6162 "ChainerX does not have APIs to run backward of BatchNorm/Pooling without running forward"
Currently, BatchNorm and Pooling functions are implemented by `Device::Get*ForwardBackward` functions. I think this is a good abstraction to let devices decide which values should be retained. However, this interface prevents us from conducting experiments which need to run backward computations without running forward computations. For example, it's impossible to run backward computation in a dif

[2019-02-01 05:37] beam2d opened #6163 "Unified test tool for ChainerX routines"
We need a unified test tool for ChainerX routines, like done for Chainer functions in #3499. To minimize the implementation cost, it's good to reuse the existing facilities for Chainer Variable/FunctionNode (i.e., `chainer.gradient_check` and `FunctionTestCase`). We need the following:

- A tool to wrap a ChainerX routine function with `FunctionNode`
- Test case base class that combines this tool

[2019-02-01 15:47] niboshi commented on #6104
https://github.com/chainer/chainer/pull/6103#issuecomment-459766483

[2019-02-01 15:48] #6104 closed

[2019-02-02 00:17] MannyKayy opened #6168 "Support mixed precision training in chainer examples"
Not technically an issue but it maybe worthwhile to warn users of overflow issues if they enable fp16 and have exponential functions in their model.

The older VAE example code directly calls [F.gaussian](https://github.com/chainer/chainer/blob/ef13d538969768497d7a0cfb4aec58ec0f3dac25/examples/vae/net.py#L58) resultings in NaNs with FP16.

The latest VAE example code relies on chainer.distribution

[2019-02-02 04:54] #6115 closed

[2019-02-02 18:15] #4129 closed

[2019-02-03 06:37] MannyKayy commented on #6168
After testing some more of the chainer examples (specifically those with functions that support all dtypes), it appears that most of them are unstable to train with anything but "float32".

[2019-02-04 05:54] #6120 closed

[2019-02-05 00:29] #6129 closed, assigned to kmaehashi

[2019-02-05 01:05] niboshi commented on #6119
Fixed via #6170.
@fiarabbit Thank you for investigation!

[2019-02-05 01:05] #6119 closed

[2019-02-05 02:54] #6040 closed

[2019-02-05 05:49] crcrpar commented on #6071
I'm working on tanh (#6173) and sigmoid (#6174)

[2019-02-05 06:08] #6146 closed

[2019-02-05 07:41] mitmul commented on #3892
Bump

[2019-02-05 10:13] hvy opened #6178 "Unified link test tools"
A base class for link tests should be introduced to simplify the writing link tests and to increase the coverage. Similar to https://github.com/chainer/chainer/pull/3499 for functions.

Some points that must be respected are that.
- There are no constraints to `Link.__call___` inputs and outputs.
- Parameter initialization is link-dependent.
- Persistent value initialization is link-dependent.
- P

[2019-02-06 02:32] okapies commented on #6116
I'm getting trapped in 3 when implementing #6072. `copy.deepcopy` tries to assign a value to `array` of an uninitialized `Variable(data=None)` but it is *invalid* because its `device` is not configured yet.

https://github.com/chainer/chainer/blob/53fe553010576baad82e0118a9450bc71c38c524/chainer/variable.py#L1873-L1879

[2019-02-06 03:51] #6148 closed

[2019-02-06 04:32] takagi commented on #6168
Thanks for your suggestion. I will check the examples with FP16 enabled and make a plan to provide them work properly.

[2019-02-06 05:34] takagi commented on #6168
Example|FP16 supported|Work with FP16|Note
--|--|--|--
caffe_export|||
chainermn|||
cifar|||
dcgan|||
glance|||
image_captioning|||
imagenet|||
memnn|||
mnist|||
modelzoo|||
pix2pix|||
pos|||
ptb|||
reinforcement_learning|||
sentiment|||
seq2seq|||
serialization|||
static_graph_optimizations|||
text_classification|||
vae|||
wavenet|||
word2vec|||

[2019-02-06 07:22] hvy opened #6181 "Inconsistent returns from `to_{cpu,gpu,chainerx,device}`"
Return "types" are inconsistent between `to_{cpu,gpu,chainerx,device}` in `Variable` but also between `Variable` and `Link`. Some return `self` and some are missing return statement entirely.  See e.g. https://github.com/chainer/chainer/blob/master/chainer/variable.py#L1712-L1718.

How about always retuning `self`? That would for instance allow `cpu_arrays = {v.to_cpu().array for v in gpu_vars}`).

[2019-02-06 08:02] toslunar commented on #6151
Do you have an idea to distinguish input/output/other variables?  Unless the interface requires users to do so, Chainer has to guess.

[2019-02-06 08:41] #5436 closed

[2019-02-06 08:42] niboshi opened #6185 "Dead links in documentation"
https://docs.chainer.org/en/stable/guides/links.html

Some internal links are dead, e.g. `Link`, `F.linear`, `L.Linear`.

[2019-02-06 09:38] kuenishi opened #6188 "Revive trainer image in doc"
The review comment here https://github.com/chainer/chainer/pull/2620#issuecomment-337485866 a new image was added at the PR. But the newer image has been lost sometime since then until the latest master today: https://docs.chainer.org/en/stable/glance.html

[2019-02-06 09:50] toslunar commented on #6188
Do you want to replace https://docs.chainer.org/en/latest/_images/trainer1.png with that image?

[2019-02-06 11:20] toslunar commented on #6181
cause: https://github.com/chainer/chainer/commit/8eacd20e35f31f124da36759953a21b29871e72f#diff-e131a8dfc2ea641e7e7c63597b9b0d8eR951

[2019-02-06 11:28] toslunar commented on #6181
Which method of `Variable` (or its subclass)?

[2019-02-07 00:54] #6154 closed

[2019-02-07 01:24] hvy commented on #6181
The `Link` methods do, e.g. https://github.com/chainer/chainer/blob/master/chainer/link.py#L537.

[2019-02-07 03:58] takagi opened #6190 "`F.triplet` test still fails sometime"
The test of `F.triplet` sometime fails because of unreasonably large value of numerical grad result in FP16 double backward test. It may be because that input of the second order backward would contain some values around non-differentiable points.

[2019-02-07 04:51] hvy opened #6191 "chainer.grad does not support chainerx.ndarrays"
`chainer.grad` does not support backprop with variables with `chainerx.ndarray`s. A similar backprop function for ChainerX is available through `chainerx.grad` so we should make sure it is called from `chainer.grad`.

- [x] Call chainerx.grad from chainer.grad
- [x] Support input grads initialization on chainerx.grad
- [x] Support output grads initialization on chainerx.grad
- [x] Support set_grad

[2019-02-07 05:56] crcrpar commented on #6190
I rewrote the test just now using `chainer.testing.FunctionTestCase` with `dodge_nondifferentiable` = `True` and it looks stable (I ran the test >100 times w/o failures).
ref: https://github.com/crcrpar/chainer/blob/rewrite-triplet/tests/chainer_tests/functions_tests/loss_tests/test_triplet.py

[2019-02-07 06:00] okapies commented on #6116
Through the offline discussion with @niboshi and @hvy, I'd like to change that `Variable` must have non-`None` array and doesn't accept `__init__(None)` and `variable.array = None` anymore other than uninitialized `Parameter`. How do you think about it? @beam2d

[2019-02-07 08:16] hvy commented on #5422
Bump. This ticket is kept alive by https://github.com/chainer/chainer/issues/6116.

[2019-02-07 09:20] takagi commented on #6190
Thanks!

[2019-02-07 10:12] takagi opened #6196 "PTB custom loop examples are broken"
The custom loop version of PTB example causes the following error:
[code]

`ParallelSequentialIterator` is a custom iterator that is defined in the example and does not implement `reset` method.

PTB example of the static graph optimization also has the same problem.

- [examples/ptb/train_ptb_custom_loop.py](https://github.com/chainer/chainer/blob/master/examples/ptb/train_ptb_custom_loop.py)
- [

[2019-02-08 00:36] #6061 closed

[2019-02-08 05:24] iwiwi commented on #5786
FYI: My code used during OIC'18.

[code]

[2019-02-08 05:25] kuenishi opened #6198 "FP16'ize MultiNodeBatchNormalization"
Subtask of #6161 .

[2019-02-08 05:45] kuenishi opened #6199 "FP16 Debug Mode"
Not only for ChainerMN but in general fp16 we need a check whether the param and grad is overflowed or 0'd (inverse of infinity) during forward/backward calculation.

This is important for migrating fp32 models to fp16.

[2019-02-08 05:50] kuenishi opened #6200 "ChainerX conformance test, optimization and migration with ChainerMN"
Learn, Survey, test, and Optimize.

 * [x] Basic implementation for MNIST(#7844)
 * [ ] Unit tests (#8031)
 * [ ] More examples (#8261 )

[2019-02-08 13:41] okapies opened #6207 "`Optimizer` runs unnecessary state array conversion"
#6171 has been introduced for the specific `Optimizer` which replaces its state arrays such as `SMORMS3`. But it is also executed for every `Optimizer` which have `states` attribute (e.g. `Adam`) and generates additional overhead.

[2019-02-09 06:56] crcrpar commented on #6190
Ah, I overlooked https://github.com/chainer/chainer/pull/5819

[2019-02-09 12:35] crcrpar commented on #6071
https://github.com/chainer/chainer/pull/6139/ rewrote the tests of `F.rrelu`.

[2019-02-10 06:56] crcrpar opened #6210 "`AveragePoolingNDGrad._get_pooling_width` is not implemented"
In `AveragePoolingNDGrad`, `self._get_pooling_width` is used (I guess it should be `self.apoolnd._get_pooling_width` instead) when `self.pad_value` is None while
the class does not define the method and the tests of `F.average_pooling_nd` succeed.

Current `TestAveragePoolingND` does parameterize `pad_value` but does not use it in forward computation for backward tests. The default value of pad_va

[2019-02-11 14:26] abusaadah opened #6212 "Dtype of data and grad mismatch grad: float64 != data: float32"
Below is the forward and backward code:

[code]

When the model is run, the following error is returned:

[code]

[2019-02-11 17:56] niboshi commented on #6212
The error message says there's a mismatch between gradients and inputs.
Please check the dtypes of `gx`, `gW` and `gb`, and confirm they match `x`, `W` and `b` respectively.

[2019-02-12 04:04] keisukefukuda commented on #5628
The fix is planned. I'm removing the stale label.

[2019-02-12 08:12] hvy commented on #6181
Discussed offline and confirmed that this is expected behavior. However, it's worth discussing. For instance if the link needs to return `self` (while `Variable` doesn't). It's also possible to generalize this to methods in Chainer in general, whether we should discourage returning `self`.

[2019-02-12 08:17] kmaehashi commented on #6188
https://github.com/chainer/chainer/blob/e55612b8ec4f4775e442e4f8b55cbdeff906d49c/docs/image/trainer/trainer.png

[2019-02-12 08:32] niboshi commented on #6196
We need to test these examples.

[2019-02-12 08:39] niboshi commented on #6207
The comparison with `arr` should be replaced with `st` at line 295.

[2019-02-12 09:22] shinh opened #6216 "ChainerX's 2D batch norm raises only for cuda device"
Repro:

[code]

Note the above works with `native:0`

[2019-02-12 10:21] fiarabbit commented on #6216
I succeeded to reproduce it. Is the Traceback the same?
[code]

[2019-02-12 10:34] takagi commented on #5685
Please let us close this issue once as it has passed long after the latest update. Feel free to reopen if you would continue to be in trouble.

[2019-02-12 10:34] #5685 closed

[2019-02-12 12:55] shinh commented on #6216
Yes. Thanks for perfecting my report!

[2019-02-12 20:08] niboshi commented on #6207
Oops..., not `st` but `self.state[state_name]` at line 297, before calling `update_core()`.

[2019-02-13 10:53] asi1024 opened #6226 "ChainerX int true_divide"
Support int `true_divide`

[2019-02-13 13:48] abusaadah commented on #6212
@niboshi gx, gW and gb are of the same dtypes (float32) as x, W, and b. The mismatch is pointing to the training loop, I couldn't figure out how. The same code worked for a multi-layer perceptron. I only modified the main model to do some signal processing for MIMO signal detection.

[2019-02-14 02:31] fiarabbit commented on #6212
@abusaadah No, the error message says `grad: float64 != data: float32`: i.e., the second argument of your `LinearFunction.backward` (`grad_outputs`) is float64, and it causes the error.

I guess that the succeeding links/functions after your `LinearFunction` modify the `dtype` of `Variable` (or just you put float64-array to `loss.grad`). Please check 1. the `loss.array.dtype` and 2. what happens w

[2019-02-14 06:54] hvy opened #6230 "Write comment on CHAINERX_VISIBILITY_HIDDEN and its uses"

[2019-02-14 06:58] #6207 closed

[2019-02-14 07:46] nai62 opened #6232 "`gc_interval` never used in `_MultiNodeCheckpointer`"
`gc_interval` seems to be never used in `_MultiNodeCheckpointer` and to have no effect.
`cp_interval` is used twice. Possibly one of them should be `gc_interval` instead?

One more thing I wonder is what this value '5' is intended for:
https://github.com/chainer/chainer/blob/master/chainermn/extensions/checkpoint.py#L160
Why is it 5 rather than 0?

[2019-02-14 12:14] aksub99 commented on #6158
I'd like to take this up. @niboshi could I be assigned to this?

[2019-02-14 12:41] aksub99 commented on #6071
I'd like to work on test_softmax_cross_entropy (loss) and test_softmax (activation).

[2019-02-14 12:46] aksub99 commented on #6158
I have commented under issue #6071

[2019-02-14 17:35] abusaadah commented on #6212
Hi Yuki,

Thank you for your amazing contribution. Do you mean I should change the
grad_outputs dtype to float64 right from the beginning?

Kind regards,
Abdullahi

On Thu, Feb 14, 2019 at 3:31 AM Yuki Hashimoto <notifications@github.com>
wrote:

[2019-02-14 18:12] aksub99 commented on #6071
I'm also working on test_mean_absolute_error.

[2019-02-14 23:45] toslunar commented on #5702
#5742 added SN linkhook.

[2019-02-14 23:45] #5702 closed

[2019-02-15 00:10] Hakuyume opened #6244 "6.0.0b2 does not support to_cpu/to_gpu of inner links"
I found that `chainer==6.0.0b2`breaks my code.

I'm using a helper class that contains a numpy/cupy array and do something with it. The device of this array can be switched by `to_cpu/to_gpu` method. The link class that uses this helper class overrides `to_cpu/to_gpu` method to call the helper's ones.

In `chainer==6.0.0b2`, a parent link does not call `to_cpu/to_gpu` of child links. So the follow

[2019-02-15 01:27] fiarabbit commented on #6212
@abusaadah If you need more _help_ (rather than regarding this as a _bug_), I think we should move to StackOverflow because of the contribution guide.
In addition, full but minimal code to reproduce is necessary for the further investigation of the bug.

The code in the top of this issue does not include the declaration of the whole model, the loss, nor the dataset. At this moment, I cannot find t

[2019-02-15 02:08] #6230 closed

[2019-02-15 02:41] niboshi commented on #6071
@crcrpar @aksub99
Thank you!

[2019-02-15 06:00] niboshi opened #6247 "Out of memory in seq2seq example in non-cuDNN GPU mode"
During implementation of ChainerX support in seq2seq example (#5830), out of GPU memory was observed at some point of iterations.
It was observed in both chainerx and cupy devices.
With cuDNN enabled (in cupy mode), it did not occur.
Memory leak is suspected, but it needs reconfirmation.

[2019-02-15 06:03] abusaadah commented on #6212
Dear Yuki,

I have the code written in different files and import them as modules. If
you wouldn't mind, I can send you the entire folder. It's actually my
research project and it's been over four months now I'm trying to get it
work, but without success. I'm badly in need of help.

Thanks for your precious time.
Abdullahi

On Fri, 15 Feb 2019, 01:27 Yuki Hashimoto <notifications@github.com wrote:

[2019-02-15 06:58] fiarabbit commented on #6212
IMO, you'd better close this issue and post a question to StackOverflow, because according to the [contribution guide](http://docs.chainer.org/en/stable/contribution.html), any general question is preferred to be raised at the StackOverflow with a `chainer` tag.
[code]

[2019-02-15 08:43] niboshi opened #6249 "Fix accuracy of ChainerX native float16 accumlative reductions"
`Dot` has been fixed in #6227 and #6246.
We also need to fix functions like `Sum`.

[2019-02-15 09:20] tkerola opened #6250 "Allow `output_data` in `forward_postprocess`"
Currently, only input data is passed to the forward postprocess function hook.
If we could pass output data as well, several use cases of function hooks would become easier, such as simply finding the number of outputs, or output dimensions.

An example interface could be as follows (`None` for backwards compatibility):
[code]

The above interface is trivial to implement, but it could cause some i

[2019-02-15 09:22] crcrpar opened #6251 "double backward always returns nan when dtype is float16 and cudnn is enabled."
When a pair of `F.reshape` and `F.batch_normalization` is used under the condition that dtype is fload16 and use_cudnn='always', double backward of the pair goes so unstable that it returns `nan` with high probability.

One use-case of the pair is `F.group_normalization`:
https://github.com/chainer/chainer/blob/afe903389d822583a5355e9d46e6766d048ebeb5/chainer/functions/normalization/group_normaliz

[2019-02-15 10:36] abusaadah commented on #6212
Hi,

Thank you very much for your help and support.

Abdullahi

On Fri, Feb 15, 2019 at 7:59 AM Yuki Hashimoto <notifications@github.com>
wrote:

[2019-02-16 09:44] niboshi opened #6257 "Difficulty finding `type_check` documentation"
I experienced a bit of difficulty reaching [type_check documentation](https://docs.chainer.org/en/v6.0.0b2/reference/check.html#type-checking-utilities).

* Searching for `"type_check"` in the search bar resulted in irrelevant pages.
* Searching for "chainer type_check" at Google resulted in very old documentation (like v1.5.1).
* Finally I went to `FunctionNode` first and find "check_type" within

[2019-02-16 10:10] niboshi opened #6258 "`type_check` can cause assertion failure"
Version: current master

### Problem
[code]

This code causes an error like this:
[code]

#### Cause
`F.where`'s forward type check:
[code]
The above code fails at the second condition, causing `InvalidType` in the light-mode type check.
`FunctionNode` then catches the error and triggeres the non-light-mode type checking. The `assert` statement is evaluated only in this mode, and it fails because

[2019-02-16 10:19] niboshi commented on #6244
This is not a bug because it's currently expected.
There's an ongoing PR (#5986) to improve how concrete links implement this kind of code.

[2019-02-16 10:41] niboshi commented on #6181
I'm negative about stateful method chain because it could be confusing.

[2019-02-17 07:02] niboshi opened #6260 "Backprop from a variable without grad causes backward() with all-None output_grads"
Version: current master (d7adbfb45d46fafa6bd0bbb9f0cebe5894489437)

#### Code:
[code]

#### Result:
[code]
`gy` at the last stack frame is `None`.

[2019-02-17 07:41] fiarabbit opened #6262 "[bug report] NStepLSTM causes error only when n_layers>1 device>0, dropout!=0, and config.train==True"
## Descrition
`NStepLSTM` raises `cudaErrorIllegalAddress` when `n_layers>1` **_and_** `device>0` with multi-gpu environment.

This phenomenon is not observed when `n_layers=1` or `device=0`.

## Environment
[code]
[code]

## Code to reproduce
[code]
[code]

## Note
This issue is originally reported in Chainer Slack (JP). The original error message was `cupy.cuda.cudnn.CuDNNError: CUDNN_STATUS_INT

[2019-02-17 08:00] niboshi opened #6263 "Backprop performance degradation"
I found that backprop overhead is increasing lately.
Out of curiosity I measured backprop time in the past versions.

**(unit: ms)**

| | v1 | v2 | v3 | v4 | v5 | v6 |
|-|-|-|-|-|-|-|
| v1.24.0 | 5.9 |
| v2.1.0 | | 7.1 |
| v3.5.0 | | | 8.6 |
| v4.5.0 | | | | 9.2 |
| v5.0.0 <br /> v6.0.0a1 | | | | | 10.1 | 11.0
| v5.1.0 <br /> v6.0.0b1 | | | | | 11.1 | 12.5
| v5.2.0 <br /> v6.0.0b2 | | | | | 13.8 |

[2019-02-17 08:12] fiarabbit commented on #6262
In  https://github.com/chainer/chainer/blob/d7adbfb45d46fafa6bd0bbb9f0cebe5894489437/chainer/functions/connection/n_step_rnn.py#L284-L286
invalid `cupy.ndarray` is returned.

[2019-02-17 08:46] fiarabbit opened #6266 "Why `F.dropout` usually does not use CuDNN?"
Currently, `F.dropout` uses cudnn only when `using_config('use_cudnn', 'always')`
https://github.com/chainer/chainer/blob/d7adbfb45d46fafa6bd0bbb9f0cebe5894489437/chainer/functions/noise/dropout.py#L46

But IMO, cudnn should be enabled when `>=auto`.

[2019-02-17 09:23] fiarabbit commented on #6262
I found the reason: this is a little bit complicated, but actually it is a bug.

In every `Function` (it does NOT refer a _function_ in Python),
https://github.com/chainer/chainer/blob/d7adbfb45d46fafa6bd0bbb9f0cebe5894489437/chainer/function_node.py#L309
changes the current device (`cupy.cuda.runtime.getDevice()`).

However, `F.n_step_lstm`, which set the `DropoutState`, is just a _function_, and

[2019-02-17 16:21] niboshi commented on #6263
After applying #6264 and #6213, it becomes 14.2ms (cf. 19.1ms in master d7adbfb45d46fafa6bd0bbb9f0cebe5894489437)

[2019-02-18 01:20] hvy opened #6275 "cpplint is failing"
cpplint is failing with the recent updated https://github.com/cpplint/cpplint/releases which is affecting CI.

[2019-02-18 03:14] niboshi opened #6277 "Make `chainer.no_backprop_mode` affect ChainerX"
`chainer.{no,force}_backprop_mode` should affect ChainerX's counterparts `chainerx.{no,force}_backprop_mode`.

It would be ideal if we could transfer `chainer.config.enable_backprop` to ChainerX in some way, but it won't be easy.
We only support `chainer.{no,force}_backprop_mode` for handling ChainerX arrays.

[2019-02-18 04:15] hvy commented on #6275
Fixed by https://github.com/chainer/chainer/pull/6267.

[2019-02-18 04:15] #6275 closed

[2019-02-18 04:23] niboshi opened #6279 "Get chainerx.ndarray with nodes from Variable"
Support optimized backproppable calculation by unwrapping chainerx variables and directly manipulate arrays.

[2019-02-18 04:52] kuenishi commented on #6232
I think that line should be `len(self.files) > gc_interval` instead. I think I just missed it during the dev and review process. Thank you for reporting.

Also `5` is kind of safety margin in case of inconsistency or partial lost among workers, in order to
 step back to older version of snapshot when snapshot files are partially lacking.

[2019-02-18 05:55] niboshi opened #6282 "test_backprop.py does not pass in debug mode"
Version: current master 03157f852002dcdcb04e03e6da03315976ce7434

[code]

#### Result

[code]

[2019-02-18 06:14] toslunar commented on #6251
With numpy, the errors are also too large.

[2019-02-18 11:08] toslunar commented on #3435
#6260

[2019-02-19 04:20] #5295 closed

[2019-02-19 05:03] #6226 closed

[2019-02-19 06:26] ishanrai05 commented on #6071
@niboshi  Please review my PR.

[2019-02-19 06:29] beam2d commented on #5685
I hope the problem has been resolved, but just a note: Chainer does not prefer any specific Python environment management tools over the others. If you still have an installation problem with pyenv, do not hesitate to reopen it or open a new issue. Thanks!

[2019-02-19 06:30] niboshi commented on #6071
@ishanrai05 Thanks! Please wait until a reviewer will be assigned soon.

[2019-02-19 07:16] fiarabbit commented on #5685
I apologize that I unintentionally led the reader not to use a specific python environment.

For the compensation, I show a small reproduction code of the situation which reported by @crook52 (i.e. the reason of my inference). I just guessed that something like this might have happened for his situation.
[code]

[2019-02-19 07:30] takagi opened #6299 "Adam optimizer's default eps is too small for FP16"
Rel #6168.

Currently, Adam optimizer's defaut eps is `1e-8`, which is too small for a FP16 parameter to update and causes a `ValueError` without an explicitly supplied proper eps.

Some options are:
- Make `Adam` take `dtype` parameter to initialize eps properly. If the `dtype` is not supplied, the default dtype is used.
- Lazily initialize the eps on updating for the dtype of the parameter to up

[2019-02-19 07:54] beam2d commented on #6036
Hi, we are considering pre-built packages in the future, but it will take some time to support them. What is your bottleneck to build ChainerX on your environment? ChainerX does not require much to build, but is the compilation itself difficult on the cluster? If you can make your own binary package (specific to your environment), is that enough for now?

[2019-02-19 08:12] niboshi commented on #6094
TODO: First write a test for MNIST.

[2019-02-19 08:12] beam2d commented on #5351
@kmaehashi ping

[2019-02-19 08:14] niboshi commented on #6101
These columns can simply be removed.

[2019-02-19 08:26] beam2d commented on #6131
Besides chainer-test fix, we only need documentation fix for now.

[2019-02-19 08:35] beam2d commented on #5503
We want this feature for v6. bump.

[2019-02-19 09:08] beam2d commented on #5484
We will first fix the documentation to follow the current implementation (not passing `trainer`). I also think that it is more consistent to pass `trainer` to `finalize`, so we would like to fix the design, but it would take some time to take care of the compatibility.

[2019-02-19 09:13] beam2d commented on #6053
With some insertion/deletion patterns, `Sequential` of the same layer configuration may have different serialization order, which is not good either. I would like to fix this issue, but we also need to take care of serialization compatibility, which is highly important. One option is to introduce versioning to the serialization of `Sequential` so that the ordering is fixed while the old serializat

[2019-02-19 13:47] aksub99 commented on #6071
I have submitted the above PRs  to simplify test_leaky_relu.py and test_maxout.py. Am still working on fixing test_softmax.py and test_mean_absolute_error.py.

[2019-02-19 15:54] niboshi opened #6303 "Empty Sequential has different semantics than other cases"
As you can see from below, an empty `chainer.Sequential()` has different semantics: it wraps an argument with a tuple and return it. If at least one built-in links or functions exist, it returns a single `Variable` object.

I think it's better to forbid calling an empty `Sequential`.

#### Code
[code]
#### Result
[code]

[2019-02-19 17:28] ishanrai05 commented on #6071
I have submitted PRs to simplify `test_swish` and `test_softpool`.

[2019-02-20 00:17] #6279 closed

[2019-02-20 02:58] niboshi opened #6310 "Consider API names including `chainerx` to use `chx` instead (`to_chx`, `from_chx`, `chx_array`)"
To enable them (especiallly `chx_array`) to be casually written by users.

[2019-02-20 02:58] niboshi opened #6311 "TensorCore support in ChainerX"

[2019-02-20 04:37] niboshi commented on #5944
We intentionally didn't support automatic fallback of tuples.
If we support tuples, we will have to make additional complicated decisions:
* Should we support lists or dicts? What about list-like or dict-like?
* What if the tuple has mixed types of `ndarray`s?

The simplest (somewhat tentative) decision was to only support bare `ndarray`s.
Of course, if that would be useful for users, we should co

[2019-02-20 04:53] #6277 closed

[2019-02-20 04:59] asi1024 opened #6314 "Test failure in test_rrelu"
https://ci.appveyor.com/project/pfnet/chainer/builds/22474579/job/h38q07j867823rf7

[2019-02-20 05:43] niboshi opened #6316 "Support explicit output gradients in chainerx::Grad"

[2019-02-20 06:35] toslunar commented on #6314
[code]

[2019-02-20 06:50] anaruse commented on #6168
I've just run imagenet example with RN50 in fp32 and fp16, and found loss value became `NaN` soon when fp16.  This is a bit strange, since it worked fine when I did similar test a few month ago.

[code]

[code]

[2019-02-20 07:01] toslunar commented on #6303
I don't think it's "different".  Chainer functions may return `Variable`, `ndarray`, or tuple of them.  Example: `F.max_pooling_2d(return_indices=True)`.

[2019-02-20 08:03] niboshi commented on #6303
@toslunar
That's because `F.max_pooling_2d(return_indices=True)` itself returns such values. That's a different story, I think.

Let me rephrase:
`Sequential` can be considered as a sequence of transforms. If there are one or more operations, that holds. If there's no operation, one would expect the input is returned as is. But currently this is not the case in empty `Sequential`.

[2019-02-20 08:16] toslunar commented on #6303
What do you think `chainer.Sequential()(x0, x1)` should return?

[2019-02-20 08:22] niboshi commented on #6303
@toslunar
I think there's no reasonable result everyone can agree with.
That's why I want to forbid calling an empty `Sequential`.

[2019-02-20 08:24] toslunar commented on #6303
Therefore I don't think the semantics is "different".

[2019-02-20 09:24] aksub99 commented on #6071
@niboshi Could you please review PRs #6301 and #6302 ?

[2019-02-20 09:57] ishanrai05 commented on #6071
I have submitted PR #6320 to simplify `test_log_softmax`

[2019-02-20 10:19] #6101 closed

[2019-02-20 11:21] ishanrai05 commented on #6071
Submitted PR #6322  for `test_diagonal`

[2019-02-20 17:40] niboshi opened #6325 "Sequential out of bounds insertion is inconsistent"
[code]

[2019-02-21 02:34] shinh opened #6327 "ChainerX does not have an API to query the information about its memory pool"
ChainerX should have a query function like `cupy.get_default_memory_pool().used_bytes()`.

[2019-02-21 04:32] #6249 closed

[2019-02-21 04:35] #6314 closed

[2019-02-21 06:42] crcrpar commented on #6262
I personnaly think the main reason is the lack of `chainer.backends.cuda.get_device_from_id(DEVICE).use()`.

e.g.
https://github.com/chainer/chainer/blob/0765bef70da1fb2a9f0f8806fe4933f15546a721/examples/mnist/train_mnist.py#L58-L61

[2019-02-21 07:30] fiarabbit commented on #6262
@crcrpar Thanks for your cooperation. I also mentioned it on Chainer-Slack for the questioner.
However, functions in chainer should work w/o setting of the current device (as is also written in the code and #5347). It means that #5347 partially fixed this error, but it still remains.

[2019-02-21 08:05] fiarabbit commented on #6262
@crcrpar More specifically, the error of this issue is caused by dropout, but all test cases uses dropout==0.0 _and_ in training is disabled in https://github.com/chainer/chainer/blob/f73b1bfcbeafe8c3a157d800440d7fe54e942598/tests/chainer_tests/links_tests/connection_tests/test_n_step_lstm.py#L128-L138

I confirmed that if and only if  `dropout != 0` _and_ `chainer.using_config('train', True)` the

[2019-02-21 08:11] fiarabbit commented on #5347
This issue is not perfectly resolved (see #6262). If `n_layers>1`, `dropout!=0`, and `config.train==True`, `permutate` still fails with CUDA error.

[2019-02-21 08:13] shu65 opened #6330 "Support FP16 in Allreduce of all communicators"
The current version of ChainerMN supports FP16 in Allreuce of PureNcclCommunicator only.
ChainerMN should support FP16 in Allreduce of all communicators

[2019-02-21 09:21] crcrpar commented on #6262
I appreciate your clarification.

It seems that there's a need to test dropout enabled `n_step_(rnn
 lstm | gru)` functions and links 🤔

[2019-02-21 10:03] niboshi opened #6336 "Prepare type promotion API"

[2019-02-21 10:31] Crissman commented on #4134
After discussion, we've decided that the PRs done covers the issue of flagging code which is non-deterministic, and cannot be given a seed. Closing this issue.

[2019-02-21 10:31] #4134 closed

[2019-02-21 10:44] toslunar commented on #6258
Let me clarify the example.  `type_check.expect` does not support testing `condition.dtype == numpy.bool_` where `condition` is not type but an array, which is an argument of `Where.__init__`.  At the moment:
- `F.where` has a bug;
  - bugs of this kind are hardly found by the available tests; and
- Chainer does not seem to provide a way to check `condition.dtype == numpy.bool_` and raise `Invalid

[2019-02-21 14:41] niboshi commented on #6258
@toslunar That's correct.
IMO we can simply support `bool` expressions in `type_check`.

[2019-02-22 05:13] toslunar opened #6343 "flake8 warns F632 (use ==/!= to compare str)"
[code]

[2019-02-22 05:28] #6310 closed

[2019-02-22 05:30] asi1024 opened #6344 "Add ChainerX FloorDivide"

[2019-02-22 06:26] #6163 closed

[2019-02-22 06:55] toslunar commented on #6343
`setup.py` in Chainer specifies `'flake8>=3.6,<3.7'`.  F632 seems warned by `flake8>=3.7`.

[2019-02-22 06:56] abusaadah commented on #6212
@niboshi gx, gW and gb are of the same dtypes (float32) as x, W, and b. The mismatch is pointing to the training loop, I couldn't figure out how. The same code worked for a multi-layer perceptron. I only modified the main model to do some signal processing for MIMO signal detection.

[2019-02-22 06:56] #6212 closed

[2019-02-23 08:25] aksub99 commented on #1448
I'd like to implement ELiSH activation function as introduced in this paper.
https://arxiv.org/abs/1808.00783

[2019-02-25 03:13] kuenishi commented on #5628
Fixed by #6345

[2019-02-25 03:13] #5628 closed

[2019-02-25 10:01] niboshi opened #6353 "Document ChainerX test tool for ops"

[2019-02-26 08:31] takagi commented on #6251
I will check if this issue is related to #6323 .

[2019-02-26 08:51] #5786 closed

[2019-02-26 08:53] niboshi opened #6359 "Fix `F.where` type checking"
Related: #6258

The check for `condition` should be done in `__init__`.

[2019-02-26 09:08] niboshi commented on #6263
It's not clear whether this overhead is actually critical for real use cases.
I'll close this issue.

[2019-02-26 09:08] #6263 closed

[2019-02-26 09:35] #6336 closed

[2019-02-26 11:14] kmaehashi commented on #6257
It was unintended. I fixed `robots.txt` to hide docs of older versions.

[2019-02-26 11:35] #6353 closed

[2019-02-27 05:25] kmaehashi commented on #6266
It seems it's ok to enable it by default, but I'd like to see the benchmark result first.

@bonprosoft Let me know if you have any special reason to use `==always` in #3369.

[2019-02-27 05:40] hvy opened #6368 "BatchNormalization link CUDA_ERROR_ILLEGAL_ADDRESS with lazily initialized persistent values"
Persistent values (`avg_mean` and `avg_var`) in `links.BatchNormalization` are not initialized on the correct CUDA device when used with CuPy being initialized lazily. More specifically, they are always initialized on the default CUDA device and not the device of the link.

#### Reproduction Code

[code]

#### Error

[code]

[2019-02-27 06:50] Crissman commented on #6188
How about this?

<img width="1021" alt="screen shot 2019-02-27 at 3 48 40 pm" src="https://user-images.githubusercontent.com/4338467/53471234-49959500-3aa7-11e9-9552-4ea8779b0bb5.png">

Showing highlight to start discussion about Dataset.

[2019-02-27 08:11] hvy opened #6372 "Dtype promotion: Sum"

[2019-02-27 08:34] asi1024 opened #6373 "Dtype promotion: mathematical functions"

[2019-02-27 13:33] aksub99 opened #6376 "Activation function implementation choice"
This issue is with regard to #1448 .

Some of the activation function implementations recently added to other frameworks like Pytorch, Tensorflow and MXNet that don't have an implementation in Chainer are:
1)**CeLU** - Pytorch, MXNet
https://arxiv.org/abs/1704.07483 (Introduced in this paper)

2)**GLU** - Pytorch
https://arxiv.org/abs/1612.08083 (Introduced in this paper)

3)**ReLU6** - Pytorch, T

[2019-02-28 04:58] hvy opened #6380 "Mixed dtype: concatenate"
Concatenation of arrays of different dtypes are not supported in ChainerX.

[2019-02-28 05:06] hvy commented on #6372
It looks like it's promoting integers types correctly already, although not taking the platform into account. https://github.com/chainer/chainer/blob/master/chainerx_cc/chainerx/routines/math.cc#L365-L366

[2019-02-28 05:06] hvy commented on #6372
Closing this issue as already fixed.

[2019-02-28 05:06] #6372 closed

[2019-02-28 05:49] hvy commented on #6380
Should not the stack function be fixed as well? 🤔

[2019-02-28 08:31] #6344 closed

[2019-02-28 08:43] asi1024 opened #6385 "Mixed dtype: comparison, arithmetics"

[2019-02-28 08:47] muupan commented on #5944
I think this issue can be also fixed by chainerx supporting advanced indexing.

[2019-02-28 09:09] shu65 opened #6386 "Support for `chainerx.ndarray` in ChainerMN"
ChainerMN does not support `chainerx.ndarray`.
So, we need to improve to use it in chainermn.

Relate https://github.com/chainer/chainer/issues/6200

[2019-03-01 00:52] Naba7 commented on #6257
I am new to chainer.I am interested in contributing here and participating in gsoc 19 as well.Can I be assigned this issue?

[2019-03-01 01:34] Naba7 commented on #6258
can I be assigned this issue?
Proposed changes:
I think adding .item() to the condition variable will change its dtype from ndarray to int.

[2019-03-01 02:27] shu65 commented on #6386
ToDo:

- [ ] support for `chainerx.ndarray` in `allreduce_grad()`
- [ ] support for `chainerx.ndarray` in functions and links of ChainerMN

[2019-03-01 06:42] niboshi opened #6394 "Change device spec for numpy/cupy/intel64"
Currently `chainer.get_device` and `chainer.using_device` accept python modules (`numpy`, `cupy`, `intel64`) as the device specifier. It's not necessarily intuitive.
After discussion, we decided to change as follows:

* For ChainerX backends, current spec is kept: specify as a string, e.g. `'native'`, `'native:0'`, `'cuda:1'`, etc.
* For other backends, prefix with a symbol `'@'`, e.g. `'@numpy'`,

[2019-03-01 07:52] crcrpar opened #6398 "[suggestion] Make examples more consistent"
There are a wide variety of examples.
However, they are not consistent for me from the perspective of
1. Support for resuming training from a snapshot of `training.Trainer` or a pair of model and optimizer
    - custom loop examples sometimes ignore `args.out` and/or `args.resume`
2. Use of `extensions.PlotReport`

[2019-03-01 08:07] niboshi opened #6401 "Rewrite ChainerX routines tests in the new style (unified test tool) and remove existing C++ tests"
* [x] activation #6553
* [x] connection #6424
* [ ] ~creation~
* [x] indexing #6438
* [x] linalg #6469
* [x] logic #6551
* [x] manipulation #6556
* [x] math (arithmetics) #6566
* [x] math (others) #6568
* [x] normalization https://github.com/chainer/chainer/pull/6542 https://github.com/chainer/chainer/pull/6558
* [x] pooling #6560
* [x] sorting  #6550

[2019-03-01 09:56] muupan opened #6403 "Feature request: static subgraph optimization outside Chain.__call__"
Current static subgraph optimization seems to only support `Chain.__call__`, which forces users to write every computation, including loss computation, inside `Chain.__call__`.

https://docs.chainer.org/en/stable/reference/generated/chainer.static_graph.html

I want to use static subgraph optimization outside `Chain.__call__`, e.g., for a general function whose inputs and outputs are Variables. #6

[2019-03-01 10:17] hvy opened #6404 "protobuf is required for installation"
`protobuf` is only used for Caffe-related features so it could be optional.

#### Background

https://github.com/chainer/chainer/pull/6402 had to introduce some `DeprecationWarning` suppressions in Caffe-related tests. These were needed under `protobuf==3.7.0` + Python 3.7. The warning is the following and was actually raised by `protobuf` using a deprecated API of `collections`.
[code]
If this wa

[2019-03-01 11:03] belldandyxtq commented on #5740
Testing the issus with different openmpi versions

- **Test Environment**
   CUDA 9.2
   GCC 5.4.0
   Infiniband FDR (56Gb/s) * 2

- **Compile Options**
./configure --prefix xxx --with-cuda --with-ucx path/to/ucx-1.5.0

- **Code Link**
    https://github.com/open-mpi/ompi/issues/3972

- **Commands**
    mpirun -np 2 gpu_test 1000

- **Openmpi Versions**
[code]

[2019-03-01 13:10] MarchWorks opened #6407 "[suggestion] StyleGAN with chainer example"
Making an example of the approach used by NVlabs in StyleGAN

[2019-03-01 22:21] #5470 closed

[2019-03-01 22:21] #4560 closed

[2019-03-01 23:20] #5206 closed

[2019-03-02 04:09] hvy commented on #5454
Bumped since it's related to #5422 which is still open.

[2019-03-02 08:37] #6303 closed

[2019-03-02 09:13] aksub99 commented on #1448
I've opened issue #6376  to get some suggestions on the operation I can start implementing. Please let me know if any of the mentioned functions could be useful additions at present. Thanks in advance!

[2019-03-04 05:50] bonprosoft commented on #6266
I don't have any special reason for the code.
I think it is OK to use cuDNN dropout if it doesn't decrease performance.

[2019-03-04 07:00] hvy opened #6418 "Make float scalar win against int/bool array in result types"

[2019-03-04 07:32] hvy opened #6420 "Fix comment style of op test tools to docstrings"

[2019-03-04 08:30] hvy opened #6422 "Make a tracking issue for adding routines"
It's being worked on.

[2019-03-04 09:05] hvy opened #6423 "ChainerX needs to support more routines"
**_Update_**
We've introduced an `Op` registration and dispatch mechanism. This practically means that `Device` methods will be replaced by `Op` implementations. E.g. `Device::Arange` -> `ArangeOp : public Op`. The following description will soon be updated to take this into account.

[code]

---

The current repository of  backpropable operations, or ["routines"](https://github.com/chainer/chaine

[2019-03-04 09:06] hvy commented on #6422
This is the tracking issue https://github.com/chainer/chainer/issues/6423.

[2019-03-04 19:57] dido1998 commented on #6423
Hi @hvy,  I have built ChainerX and gone through the code base. I would like to start working on this issue. Could you suggest a routine that I could start with?

[2019-03-05 02:27] #6420 closed

[2019-03-05 06:16] hvy commented on #6422
Closing as fixed by #6423.

[2019-03-05 06:16] #6422 closed

[2019-03-05 06:32] #6418 closed

[2019-03-05 06:57] toslunar commented on #6376
On ReLU6, Chainer could add an alias to `F.clipped_relu(x, 6)`.

[2019-03-05 07:46] hvy commented on #6423
@dido1998 , thanks for showing interest. How about element-wise power? Other quite frequent routines that we need are for instance pad, sigmoid and maximum.

[2019-03-05 07:46] mitmul commented on #6407
@MarchWorks Hi, thanks for the suggestion. You can find the Chainer implementation of Style-based Generator here: https://github.com/pfnet-research/chainer-stylegan

[2019-03-05 07:47] hvy commented on #6423
We also need random creation routines but that scope is a bit larger.

[2019-03-05 08:06] Crissman commented on #6376
@aksub99, usually, we would implement new activation functions when several papers had referenced them or when someone needed to use them for some work they were doing.

If you'd like to implement new functions into Chainer, try looking at functions that are available in Numpy but not yet implemented in Chainer.

Thanks,

[2019-03-05 08:34] mitmul commented on #6407
If you come up with another suggestion, feel free to make a new issue for it!
I close this issue.

[2019-03-05 14:29] dido1998 commented on #6423
@hvy, I will first start working for sigmoid. Once, it's done I will start with some of the other routines you mentioned.

[2019-03-06 02:06] #6380 closed

[2019-03-06 02:23] #6368 closed

[2019-03-06 02:35] hvy commented on #6423
@dido1998 Great, feel free to open a draft PR if you want to prevent duplicates and get some early review.

[2019-03-06 04:01] hvy opened #6436 "Mixed dtype: Dot, Conv, Linear, BatchNorm"
It needs to be decided what types should be supported by what routines.

#### Input arrays
- [x] `Dot`: a, b https://github.com/chainer/chainer/pull/6443
- [x] `Conv`: x, W, b #6510
- [x] `ConvTranspose`: x, W, b #6510
- [x] `Linear`: x, W, b #6569
- [x] `BatchNorm`: x, gamma, beta, running_mean, running_var https://github.com/chainer/chainer/pull/6484
- [x] `FixedBatchNorm`: x, gamma, beta, mean,

[2019-03-06 08:36] Crissman opened #6446 "DCGAN documentation needs doc links"
DCGAN should have more sphinx doc links.

[2019-03-06 08:58] Crissman opened #6447 "Convert Utilities docs to one page"
Utilities Reference has several pages with one or two classes on it. Should convert to one page, and add `force_array` and `force_type` to it.

[2019-03-06 10:36] aksub99 commented on #6376
@Crissman Thanks for the suggestion! I'll do that.

[2019-03-06 10:41] aksub99 commented on #6376
@toslunar I'd like to work on ReLU6 which as you pointed out is a special case of 'F.clipped_relu' . Could you please elaborate on what you mean by adding an alias and how I can proceed?

[2019-03-06 11:32] aksub99 commented on #6376
@Crissman '**numpy.negative**', '**numpy.power**' and '**numpy.reciprocal**' are available in Numpy but not in Chainer. Would any of these be useful additions?

[2019-03-07 03:47] toslunar commented on #6376
For example, how about defining a function `relu6` in `chainer/functions/activations/clipped_relu.py` and import the function to `chainer/functions/__init__.py`?

[2019-03-07 03:53] aksub99 commented on #6376
Thanks for the clarification. I'll work on it!

[2019-03-07 04:56] shinh opened #6452 "Abbreviate output of str() for large ChainerX arrays"
Unlike numpy or cupy, ChainerX outputs a lot for `str(chx.ones((100,100)))`, though we can workaround the issue by using `chx.to_numpy`.

[2019-03-07 05:55] fiarabbit opened #6454 "[document] document of F.prelu is wrong."
https://docs.chainer.org/en/latest/reference/generated/chainer.functions.prelu.html#chainer.functions.prelu

However, it is not the case: actually, PReLU(x)=x if x>=0 else W*x.
[code]

[2019-03-07 09:08] shu65 opened #6457 "Support for `mixed16` in ChainerMN"
Relate https://github.com/chainer/chainer/pull/6456
ChainerMN also supports `mixed16`.

ToDo

- [x] support for `mixed16` in allreduce_grad and bcast_data (https://github.com/chainer/chainer/pull/6548)
- [x] support for `mixed16` in MultiNodeBatchNormalization (https://github.com/chainer/chainer/pull/6619)
- [x] support for `mixed16` in other links and functions of ChainerMN (multi_node (#7630); c

[2019-03-07 11:15] shreyas-kowshik commented on #6398
I have gone through the tutorials of Chainer and am ready to work on this. Can you help me get stated? @crcrpar

[2019-03-07 12:26] crcrpar commented on #6398
@shreyas-kowshik
The below will be almost done in #6399.

So, how about working on 2: make examples with `Updater` and `Trainer` to use `extensions.PlotReport` like mnist example?

Here are code blocks from mnist example that are related to `PlotReport`:
- https://github.com/chainer/chainer/blob/aea60d8ac7777c3e57d9b8c19dc5146c75275e51/examples/mnist/train_mnist.py#L68-L69
- https://github.com/cha

[2019-03-08 01:23] keisukefukuda opened #6466 "TypeError in ChainerMN's unit tests"
ChainerMN's tests produce the following error in the master branch
[code]

This may be related to recently-merged PRs:
*  https://github.com/chainer/chainer/commit/d9bdfc66a77c1b593cd6755d9d1cb3a2fad6e546#diff-148edea535bb806260c487ca31869a91
* https://github.com/cupy/cupy/pull/2060

[2019-03-08 03:00] grafi-tt commented on #6005
@toslunar #5924 is merged, so the issue can be closed.

[2019-03-08 04:06] #6005 closed

[2019-03-08 04:14] #6466 closed

[2019-03-08 06:27] notogawa opened #6467 "`F.dropout` unexpected gradient when 'train' is set to False"
Version: 5.3.0

Code:
[code]

Result:
[code]

This issue is caused by the same reason of https://github.com/chainer/chainer/issues/5810 . Not only `F.dropout` and `F.case`, some function which works as an identity function (means a function returns the input `chainer.Variable` object directly) in certain condition may have the same issue. I think it is an exhaustive way to fix this issue that `cha

[2019-03-08 12:34] dido1998 commented on #6423
@hvy, I have implemented sigmoid and sent a PR. I will now start working on dot for higher dimensions and then element-wise power.

[2019-03-09 19:28] aksub99 commented on #6423
@hvy @dido1998 I'd like to work on implementing maximum.

[2019-03-09 20:55] vermashresth commented on #6423
Hi @hvy
I compared the [list of routines](https://docs.scipy.org/doc/numpy/reference/routines.html) in numpy with the ones [already implemented in ChainerX](https://docs.chainer.org/en/latest/chainerx/reference/routines.html). I noticed that currently,  the `chainerx.random.normal` and `chainerx.random.uniform` routines are just wrappers around their numpy counterparts [(here)](https://docs.chaine

[2019-03-09 23:01] alexberd commented on #2096
Got the same issue and fixed it by uninstalling and installing Chainer!

[2019-03-10 11:02] aksub99 commented on #6423
@hvy Seems like maximum has already been implemented but minimum hasn't. I'll start working on minimum.

[2019-03-10 13:23] dido1998 commented on #6423
@hvy I am now working on element-wise power.

[2019-03-10 15:02] #6210 closed

[2019-03-11 01:52] hvy commented on #6423
Hi @vermashresth, they are indeed wrappers and will most likely be implemented in ChainerX in the future in favor of performance and to control seed. So I did not mean the Distributions functions (although we might want this in the future too).

Padding sound like a good idea. You can start with a minimal set and don't have to support all of the modes. CuPy doesn't for instance and only support a

[2019-03-11 10:14] hvy commented on #5778
Some notes.

- Prefer explicit list initialization for construction, i.e. `MyType mt{};` over `MyType mt;` and `MyType mt();`

[2019-03-11 10:32] niboshi opened #6483 "Support int32 indices in chainerx::take"

[2019-03-11 13:05] aksub99 commented on #6423
@hvy I've implemented square in PR #6486 .

[2019-03-11 20:05] trancenoid commented on #6447
@Crissman I would like to work on this issue. I just need to know where to modify the Docs to accustom the changes.

[2019-03-12 02:49] hvy commented on #6423
Discussed offline with the team and we thought that it's better to basically always include the Python bings in each PR. There are some benefits to it, please let us know if you have some thought about it.
- Python tests are easier to parameterize using [helpers])https://github.com/chainer/chainer/blob/master/tests/chainerx_tests/op_utils.py).
- Do not have to write C++ tests.

[2019-03-12 02:56] hvy commented on #6423
Appended a `Ongoing / Status` section in the description.

[2019-03-12 03:18] cmpute opened #6490 "Implement AdaBound?"
This is a newly proposed optimizer, seems to be promising. Official code in Pytorch here https://github.com/Luolc/AdaBound

[2019-03-12 04:06] crcrpar commented on #6490
@cmpute see #6388.

[2019-03-12 07:30] hvy commented on #6131
Remaining tasks are
- [ ] Remove from https://github.com/chainer/chainer-test
- [ ] Check upgrade guide.

[2019-03-12 10:20] niboshi commented on #6467
Thank you for reporting!
I'm going to fix this in the following way:
* Fix `FunctionTestCase` to check that input and output variables are never identical.
* If any functions are violating this check, fix them by applying `F.identity` to outputs.

[2019-03-12 10:29] notogawa commented on #6467
Looks Good,

`F.cast` with its source data type equals to result data type case should be refactored to use `F.identity` too.

[2019-03-12 12:00] #6299 closed

[2019-03-12 18:21] cmpute commented on #6490
Sorry, didn't notice that

[2019-03-12 18:21] #6490 closed

[2019-03-13 03:48] fiarabbit commented on #6454
closing because #6455 merged.

[2019-03-13 03:48] #6454 closed

[2019-03-13 06:11] fiarabbit opened #6503 "[document] The input argument name in `F.rrelu` is inconsistent"
https://docs.chainer.org/en/stable/reference/generated/chainer.functions.rrelu.html#chainer.functions.rrelu

The slope for x < 0 is named `a` in the body text, but `r` is used for the input argument.

[2019-03-13 06:13] fiarabbit commented on #6503
According to the original paper (https://arxiv.org/pdf/1505.00853.pdf), `a` is the correct one.

However, if the name of the input argument is modified, the users may have to amend their code.
I don't have an idea which one should be fixed...

[2019-03-13 07:45] niboshi opened #6505 "Use camel case in ChainerX Python routine tests"

[2019-03-13 08:17] takagi commented on #6168
I will update my table following #6442.

[2019-03-13 08:24] takagi opened #6508 "Some examples does not work out-of-the-box in FP16 mode"
Rel. #6168.

Some examples does not work out-of-the-box in FP16 mode, with its loss value blowing up to nan.

**mnist**
[code]

**pos**
[code]

**text_classification**
[code]

**word2vec**
[code]

**wavenet**
[code]

[2019-03-13 09:05] trancenoid commented on #6447
@Crissman I have seen the sphinx docs and how to modify .rst files. If I understand the problem correctly we have to move all the classes onto one page (under different headings) instead of separate pages. Shall I do this job?

[2019-03-13 11:11] #5059 closed

[2019-03-14 01:19] hvy commented on #6132
Worked around by https://github.com/chainer/chainer/pull/6495. Closing this ticket.

[2019-03-14 01:19] #6132 closed

[2019-03-14 02:17] yewang opened #6514 "Typo in docstring for classification_summary"
There appears to be a typo in the docstring for the "classification_summary" function (located in functions/evaluation/classification_summary.py).

The correct definition for recall is TP / (TP + FN), however the current docstring writes "TN" instead of "FN".

Also, after amending the definition, a few lines later should mention the definition of "FN" alongside "TP", "FP", and "TN".

The actual co

[2019-03-14 04:47] vishalgolcha commented on #6423
@hvy  could you suggest some more routines that we can take up ?

[2019-03-14 05:13] crcrpar commented on #6251
@takagi https://github.com/cupy/cupy/pull/2072 and #6497 seem to fix this issue.
I confirmed the fix using the updated "code to reproduce".

[2019-03-14 06:16] shinh commented on #6423
@aksub99 FYI, `chainerx.maximum` does not work for array vs array case. Try

[code]

[2019-03-14 06:33] toslunar commented on #6251
I guess cupy/cupy#2060, #6323, and #5924 did.

[2019-03-14 06:33] #6373 closed

[2019-03-14 06:56] #6262 closed

[2019-03-14 07:13] hvy commented on #6423
Other than the one suggested above,  we could need tensordot-likes, ReLU-likes and more creation routines such as linspace, meshgrid and tile, to mention a few. Other more complex routines include LSTM, unpooling, local response normalization, bilinear interpolation (`F.resize_images`) but those are more involved and will take longer time to implement and review.

[2019-03-14 07:37] Crissman commented on #6447
Sure. Thanks!

[2019-03-14 10:31] euler16 opened #6521 "Slight inaccuracy in NStepGRU docs"
in the part where the input dimension has been described , I think it should be L_t instead of L_i

[2019-03-14 10:32] euler16 commented on #6521
if u could tell me the procedure to make the changes, I can make the correction and do a PR myself.

[2019-03-14 11:21] euler16 opened #6523 "no link for ReLU"
though chainer supports complex activation functions like PReLU. It's odd that ReLU isn't available as a link.

[2019-03-14 11:26] fiarabbit commented on #6523
@euler16 In Chainer, `Function` denotes a _function_ which does not have a trainable parameter as its internal state, while `Link` denotes a _function_ which has an internal states which is parameterized by a trainable `Parameter`.

`F.relu` is a _function_ which substitute x_i < 0 by 0, therefore there is no trainable parameter in it.
Thus, `F.relu` exists while `ReLU` as `Link` does not.

[2019-03-14 11:49] #6483 closed

[2019-03-14 12:53] euler16 commented on #6523
@fiarabbit agreed. But in the absence of a link.ReLU its difficult to use Sequential.

[2019-03-14 13:37] ling-pan opened #6525 "Cupy Compilation Error"
Hi, I am wondering why running with chainer encounters the following error about cupy:

  File "cupy/core/core.pyx", line 1689, in cupy.core.core.ndarray.__setitem__
  File "cupy/core/core.pyx", line 3599, in cupy.core.core._scatter_op
  File "cupy/core/_kernel.pyx", line 830, in cupy.core._kernel.ufunc.__call__
  File "cupy/util.pyx", line 50, in cupy.util.memoize.decorator.ret
  File "cupy/core/

[2019-03-14 13:54] fiarabbit commented on #6523
@euler16 The official API refrerence of [chainer.Sequential](https://docs.chainer.org/en/stable/reference/generated/chainer.Sequential.html) tells how to use `F.relu` for `chainer.Sequential`. Is not this sufficient for your use-case?

[2019-03-14 14:01] fiarabbit commented on #6525
Could you give some (short) reproduction code? Also, could you tell me how you installed `chainer` and `cupy`? Currently, `chainer` requires exactly the same version of `cupy`, i.e. `cupy==v6.0.0b3` for `cupy==v6.0.0b3`.

[2019-03-14 15:44] ling-pan commented on #6525
I noticed the warning that the version of cupy needs to match that of chainer. I have tried updating the version of cupy to be 6.0.0b3, but the problem still exists. I install chainer through the setup file in chainerrl ([https://github.com/chainer/chainerrl/blob/master/setup.py](url)).
I have tried some deepcopy in my code, and I am not sure whether this incurs the error.

[2019-03-14 15:51] niboshi opened #6528 "There's no test of F.sum_to"

[2019-03-14 16:11] ling-pan commented on #6525
I install chainer from the setup file in chainerrl [(https://github.com/chainer/chainerrl/blob/master/setup.py)](url).
I have tried up updating cupy to version 6.0.0b3 as below:
Platform: Linux-3.10.0-957.1.3.el7.x86_64-x86_64-with-centos-7.6.1810-Core
Chainer: 6.0.0b3
NumPy: 1.16.2
CuPy:
CuPy Version : 6.0.0b3
CUDA Root : /usr/local/cuda-8.0
CUDA Build Version : 8000
CUDA Driver Version : 10010
C

[2019-03-14 19:20] euler16 commented on #6523
Ah I see. I had used PyTorch before and for that reason got confused if functions API could be used with Sequential. Thank you for your response

[2019-03-14 19:20] #6523 closed

[2019-03-15 00:37] #6505 closed

[2019-03-15 01:20] fiarabbit commented on #6525
How about this?  The error you got

i.e.
[code]

tells `cupy` works fine according to its specification. In other words, the error seems to be triggered by the code you run.

[2019-03-15 01:20] MannyKayy commented on #6036
Hi @beam2d , I am happy to privately share a compilation trace for the errors encountered when building chainerx. I am using chainer on the [JADE](http://www.jade.ac.uk/) cluster and was hoping to exploit the chainerx performance advantages but cannot successfully build chainerx. Even if it takes a while, I don't mind waiting, this was just an issue that i thought may be worthwhile raising.

[2019-03-15 01:44] ling-pan commented on #6525
Thanks for your reply. I tried running the code without using gpu, and I use cpu only. In this case, the code runs normally. I guess maybe it is not triggered by my code?

[2019-03-15 01:54] fiarabbit commented on #6525
@ling-pan No, it is not. It depends on your code.

For example,
[code]

This code works fine when `gpu==False`, but this code fails with the same error to yours when `gpu==True`.

[code]

In the conventional use-case, your data is read as `numpy.ndarray`, so this mis-match between `numpy` and `cupy`  happens (especially when you do not follow chainer-like implementation). For the further help, cha

[2019-03-15 02:00] ling-pan commented on #6525
Thanks a lot! I will look deeper and check chainer-slack!

[2019-03-15 04:09] shu65 opened #6533 "Refactoring of Multi Node Batch Normalization in ChainerMN"
There are many parts where Multi Node Batch Normalization in ChainerMN overlaps with BatchNormalization in Chainer.
So, we should refactor multi node batch normalization.

ToDo:

- [ ] add args for comm and backend to BatchNormalization in functions of Chainer
- [ ] use BatchNormalization in functions of Chainer in Multi Node Batch Normalization.

[2019-03-15 06:37] aksub99 commented on #6423
@shinh I did realize that `chainerx.maximum` did not support the array vs array case and so did not implement the functionality in `chainerx.minimum` as well. I could create another PR to implement the functionality to `chainerx.maximum` and `chainerx.minimum` if it is a necessary addition. I'll start working on it now.

[2019-03-15 06:57] vishalgolcha commented on #6423
@aksub99  I was working on implementing the array vs array case, i came across this error :
2: [ RUN      ] ForEachBackend/MathTest.MaximumArrayArrayBackward/0
2: unknown file: Failure
2: C++ exception with description "Numerical error in backward on inputs (out of 2): 0
2: Backprop ID: <default>
2: Atol: 1e-05  Rtol: 0.0001
2: Error[0]:
2: array([[-0.05000000, 0.        , 0.05000000],
2:        [

[2019-03-15 06:59] toslunar commented on #6521
It seems #5979 missed some fixes.  Could you make a PR?  The contribution guide is https://docs.chainer.org/en/latest/contribution.html.

[2019-03-15 07:16] euler16 commented on #6521
sure I will

[2019-03-15 09:34] nambee opened #6539 "Bug report about the data size in backward() of chainer (maybe?)"
If your issue is a **request for support in using Chainer**,
please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/chainer).

If it is a **bug report**, **feature request** or **suggestion**,
please take a look at [our contribution guide](https://docs.chainer.org/en/stable/contribution.html).

Specifically, if it is a bug report, these information are very helpful:

* Condi

[2019-03-15 13:41] trancenoid commented on #6447
Docs are built successfully, but I am getting warnings like this

`d:\chainer\chainer\utils\conv.py:docstring of chainer.utils.get_deconv_outsize:1: WARNING: duplicate object description of chainer.utils.get_deconv_outsize, other instance in d:\chainer\docs\source\reference\generated\chainer.utils.get_deconv_outsize.rst, use :noindex: for one of them`

This is the relevant part in modified util.rs

[2019-03-16 06:06] crcrpar commented on #6539
The error occurred in `SequenceBatchNormalizationFunction`.

Could you tell me what SequenceBatchNormalizationFunction is?
Could you share the code if possible?

[2019-03-16 07:09] ir5 opened #6543 "`to_dense` in `CooMatrix` does not take duplicate indices into account"
It seems that `to_dense` method in `CooMatrix` does not handle a sparse matrix with duplicate indices appropriately.

[code]

Output:
[code]

Note that `scipy.sparse.coo_matrix` can handle duplicate indices. https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.coo_matrix.html

Further, current `to_dense` takes non-zero elements as somewhat special thing. https://github.com/chainer/cha

[2019-03-16 13:47] cmpute opened #6545 "OpenCL support in ChainerX?"
As mentioned in #99, I think it's now easier to implement this since we have a C++ interface. Any plan for OpenCL or ROCm for AMD gpu support please?

[2019-03-16 15:11] nambee commented on #6539
Oh, I thought chainer_extension as the library in the chainer, but it isn't!
I'm sorry, I should look at the extension library.

The link of the code is here,
https://github.com/fgnt/nn-gev/blob/master/fgnt/chainer_extensions/sequenze_batch_normalization.py

Thank you for your support! :)

[2019-03-18 02:26] grafi-tt commented on #6251
@crcrpar Could you try with the current master branch?

[2019-03-18 03:24] crcrpar commented on #6251
@graffi-tt Sure. I guess group normalization on float16 fail, right?

[2019-03-18 04:46] crcrpar commented on #5229
bump

[2019-03-18 05:03] crcrpar commented on #6251
@grafi-tt I tried the snippet with current master, and the snippet worked.

[2019-03-18 07:57] #6539 closed

[2019-03-19 04:41] takagi commented on #6251
I've also confirmed that the snippet works.
[code]

[2019-03-19 04:41] #6251 closed

[2019-03-19 04:41] crcrpar commented on #3892
It will lack backward compatibility, but it would be more user-friendly if `L.Classifier` is used in training because :meth:`forward` of models in current examples/imagenet take (x, t) as input and return loss.

This way of implementing is easier to train but it sometimes bothers users when it comes to inference.
Users would assume one model takes x as its input and returns prediction (label or so

[2019-03-19 06:08] kmaehashi commented on #6525
This issue sounds specific to CuPy, not Chainer.
Let's continue discussion here https://github.com/cupy/cupy/issues/2100, or use Chainer slack.

[2019-03-19 06:08] #6525 closed

[2019-03-19 06:42] kmaehashi commented on #6188
I feel it's better to use arrows in reverse way. (ie, "use" instead of "used by", like as in UML)
How do you think?

[2019-03-19 07:40] kmaehashi commented on #6508
Continue discussion in #6168

[2019-03-19 07:40] #6508 closed

[2019-03-19 07:43] niboshi commented on #6528
As pointed out by @toslunar , `F.sum_to` is used in backward of `F.broadcast`, so `F.sum_to` is tested up to the first order backward (via double-backward test involving `F.broadcast`).

[2019-03-19 08:20] kmaehashi commented on #4513
Implemented in #5313

[2019-03-19 08:26] okapies commented on #5844
It still happens on the current `master`.

[2019-03-19 09:00] niboshi opened #6572 "Move AppVeyor to branch test"
It takes time in the queue.
As we rarely see Window-specific problems lately, we can run these tests only as branch tests.

[2019-03-19 09:02] hvy commented on #6572
Reconfigured AppVeyor to only build the `master` branch.

[2019-03-19 09:02] #6572 closed

[2019-03-19 09:31] gwtnb opened #6574 "Use large eps in test for linear functions (not only for Linear)"
When calculating numerical differentiation

(f(x + eps) - f(x)) / eps
of linear functions, large eps stabilizes the calculation. The value of eps does not affect the result except for rounding error, and f(x + eps) - f(x) with small eps tends to have large error.

This stabilization can be used not only for Linear, but Convolution2D, etc.

#6547 is the PR for `Linear`. Note that large eps can be u

[2019-03-19 09:37] kmaehashi commented on #6503
We discussed this issue and concluded that:
* Keep name of the input argument as is.
* Add notes like ``This value corresponds to `a` in the original paper.`` to the description of `r`.

@fiarabbit Do you have interest in making a PR?

[2019-03-19 11:54] kmaehashi commented on #4129
You can now use `link.to_device(chainer.backends.cuda.Device(0))` instead of `link.to_gpu(0)` to force transfer between GPU devices.

[2019-03-19 11:57] kmaehashi commented on #4973
We discussed this issue and changed the priority as the workaround is available.
It is better to document this behavior is not very intuitive for users.

[2019-03-19 16:46] nuric opened #6576 "MemNN example does not reproduce paper results"
The [memnn](https://github.com/chainer/chainer/tree/master/examples/memnn) implementation in the examples folder does not seem to reproduce the results reported in the corresponding [paper](https://arxiv.org/abs/1503.08895). In particular, when run on task 2 it doesn't seem to converge to a solution. The implementation was pulled in by #4222.

## Platform
  - Chainer version: 5.3.0
  - CuPy versio

[2019-03-19 19:24] toslunar opened #6579 "`chainer.grad` does not check `len(outputs) == len(grad_outputs)`"
What is worse, default grad for each output is 1.

* Code to reproduce
[code]

* Error messages, stack traces, or logs
[code]

[2019-03-20 03:15] fiarabbit commented on #6503
@kmaehashi Thanks for your kind reply. I sent a PR.

[2019-03-20 03:20] fiarabbit commented on #5292
OMG, this issue is re-opened. This comment

refers the behavior in the condition where `chainer.config.train==False`. However, if I correctly understand, this issue is about the behavior when `chainer.config.train==True` and `finetune=True`. This condition is not written in the original paper, I think.

[2019-03-20 04:46] crcrpar opened #6583 "F.batch_normalization might lack array_module/dtype checks."
Currently, FunctionNode does not take its attribute `ndarray`s into consideration when choosing `forward_chainerx`, `forward_cpu` ,  or `forward_gpu`.
However, BatchNormalization sets `mean` and `var` as their attributes in its construction without checking types [(link to BatchNormalization construction)](https://github.com/chainer/chainer/blob/master/chainer/functions/normalization/batch_normali

[2019-03-20 05:31] #6503 closed

[2019-03-20 07:24] kmaehashi commented on #4795
Bump as the PR is ongoing

[2019-03-20 11:07] kmaehashi commented on #6266
I confirmed that enabling cuDNN is better.

[code]
(https://github.com/chainer/chainer-benchmark/pull/31)

[2019-03-21 03:18] #6579 closed

[2019-03-21 06:28] trancenoid commented on #6447
@Crissman please review my PR. I need documentation for force_array & force_type to add them to utilities, where can I get them?

[2019-03-21 07:25] MannyKayy commented on #6151
I have been giving this quite some thought and as mentioned in #6403, the eventual goal is to allow more flexibility with the use of static sub-graph operations. For the purposes of performance, it should be okay to require that the user provide the relevant information to the interface. Guessing what should be done is non-trivial in some cases and may lead to sub-optimal performance.

[2019-03-21 07:45] crcrpar commented on #6447
Current implementations seem to lack the detailed documentation partially because those two functions are mainly used internally.

However, `force_array` is mentioned [here](https://docs.chainer.org/en/stable/reference/variable.html?highlight=force_array#n-dimensional-array), so I think it's welcomed to add documentation to the functions.

---
- force_array: https://github.com/chainer/chainer/blob

[2019-03-21 11:42] harshalcse opened #6596 "cupy.cuda.runtime.CUDARuntimeError: cudaErrorNoDevice: no CUDA-capable device is detected"
I am using AWS p3 type 2xlarge instance type with following GPU details:
root@awsml04:~# nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Sep__1_21:08:03_CDT_2017
Cuda compilation tools, release 9.0, V9.0.176
![nvidia-smi](https://user-images.githubusercontent.com/5838252/54760928-157d4200-4c17-11e9-80be-fa51ec76e9ed.PNG)

* Conditions (you can

[2019-03-21 14:35] crcrpar commented on #6596
Could you check the number of GPUs your instance have?

The reason I ask this is that [MultiprocessParallelUpdater](https://docs.chainer.org/en/stable/reference/generated/chainer.training.updaters.MultiprocessParallelUpdater.html#chainer-training-updaters-multiprocessparallelupdater) assumes that a machine has multiple GPUs.

[2019-03-21 14:51] fiarabbit commented on #6596
@crcrpar Doesn't `MultiprocessParallelUpdater` work with a single GPU?

[2019-03-21 15:09] harshalcse commented on #6596
@crcrpar @fiarabbit please suggest exact workaround ? Is it ok to use `singleProcessUpdate` ?

[2019-03-21 15:54] fiarabbit commented on #6596
@harshalcse It is impossible to suggest the _exact_ workaround, because we cannot access your environment. (and there is `singleProcessUpdater`).

I'm `YukiHashimoto`, who watches your StackOverflowQuestion.

First, you should be aware that your recognition about your environment differs from the reality. You do not link `cupy` to `cuDNN`, as the warning suggested. In SO, you said that you intend

[2019-03-22 02:17] kshitij12345 commented on #6423
@hvy Hi, I would like to be a part of this.
* Will implementing `sin`, `cos` and similar functions make sense? I can do them with reference to the `Tanh` implementation.
* Also, I see that Relu and Sigmoid don't have C++ implementation. Will it make sense to have them in C++ as mentioned in the [comments](https://github.com/chainer/chainer/blob/79a3e8c113534162611e9a841539b7bc14d712d7/chainerx/act

[2019-03-22 04:31] crcrpar opened #6598 "Links in concept walkthrough of Optimizer are broken"
Links to `cleargrads`, `setup` and `update` in [Concepts Walkthrough -> Optimizer](https://docs.chainer.org/en/stable/guides/optimizers.html?highlight=optimizer) are broken as the below capture shows.
<img width="576" alt="image" src="https://user-images.githubusercontent.com/16191443/54800504-a7339080-4ca5-11e9-8ed4-76e3b5b9d675.png">

[2019-03-22 04:55] kmaehashi commented on #6596
@harshalcse Could you please avoid multi-posting questions? It makes difficult for us to track the issue.

* https://github.com/cupy/cupy/issues/2106
* https://stackoverflow.com/questions/55218824/cuda-runtime-error-cudaerrornodevice-no-cuda-capable-device-is-detected
* https://groups.google.com/forum/#!msg/cupy/0jJ-Gc39gTQ/lQmoLrC6CwAJ
* https://groups.google.com/d/msg/cupy-ja/8fIUd9Bg0gk/NsItKmm

[2019-03-22 05:12] harshalcse commented on #6596
@kmaehashi I already used Deep Learing AMI which having preinstalled all Deep Learning Frameworks .

[2019-03-22 05:42] fiarabbit commented on #6596
@harshalcse
According to the [contribution guide](http://docs.chainer.org/en/stable/contribution.html), any general question is preferred to be raised at the StackOverflow with a `chainer` tag. In other words, this issue (and also the question currently raised in SO) should also be closed.

[code]

Also, please use code block (quotes with "\`\`\` \`\`\`") instead of quotation (quotes with ">") for

[2019-03-22 05:47] harshalcse commented on #6596
@fiarabbit please provide link for chainer user group so that I will post my questions there?

[2019-03-22 05:55] fiarabbit commented on #6596
@harshalcse https://groups.google.com/forum/#!forum/chainer
You can find this link (and other helpful link) at https://github.com/chainer/chainer (https://github.com/chainer/chainer/blob/master/README.md)

[2019-03-22 06:56] shu65 commented on #6330
This issue was solved by https://github.com/chainer/chainer/issues/6330 https://github.com/chainer/chainer/pull/6448

[2019-03-22 06:56] #6330 closed

[2019-03-22 09:48] #5221 closed

[2019-03-23 10:54] kshitij12345 opened #6604 "[bug] chainerx.linspace"
* Conditions
  * Platform: Linux-4.15.0-46-generic-x86_64-with-debian-stretch-sid
  * Chainer: 6.0.0b3
  * NumPy: 1.16.2
  * CuPy:
    * CuPy Version          : 6.0.0b3
    * CUDA Root             : /usr/local/cuda-9.2
    * CUDA Build Version    : 9020
    * CUDA Driver Version   : 10010
    * CUDA Runtime Version  : 9020
    * cuDNN Build Version   : 7500
    * cuDNN Version         : 7500
    *

[2019-03-23 11:31] kshitij12345 commented on #6604
https://github.com/numpy/numpy/issues/8597

Referring to above issue, ` numpy.linspace` will always default to float dtype.

I would like to send a PR , doing the same thing here.

[2019-03-23 16:30] GuillaumeSmaha opened #6606 "Performance difference between chainer5.3.0, chainer6.0.0b2 and chainer6.0.0b3 with SSD300"
* Conditions
I used pip to switch between chainer/cupy verrsion: `pip3 install chainer==6.0.0b3 cupy-cuda100==6.0.0b3`
[code]
or
[code]
or
[code]
* Code to reproduce
Use demo.py from chainercv for SSD300: https://github.com/chainer/chainercv/blob/master/examples/ssd/demo.py
I used the logo of chainercv to run ssd300 it: https://raw.githubusercontent.com/chainer/chainercv/master/docs/images/logo.pn

[2019-03-23 16:33] GuillaumeSmaha commented on #6606
Profiling files: [profiling-ssd300.zip](https://github.com/chainer/chainer/files/2999590/profiling-ssd300.zip)

[2019-03-24 01:33] HiroakiMikami opened #6607 "Undefined reference when building chainerx with BLAS support"
I cannot compile the unit tests of chainerx when I enable BLAS support of the native backend.

## Conditions

* blas: OpenBLAS
* chainer: the current master (the commit id is `c8c9ee0d5cdad4726f01e6a354f775c555f74355`).
* cmake version: 3.14.0
* g++ version: 8.2.1
* Platform: Linux (`Linux 5.0.2-arch1-1-ARCH #1 SMP PREEMPT Thu Mar 14 18:47:49 UTC 2019 x86_64 GNU/Linux`)

## Shell Commands to repro

[2019-03-24 02:55] kshitij12345 commented on #6607
It works for me without the patch.
For the same version of commit.

[code]

On further digging,
[code]

[2019-03-24 03:23] kshitij12345 opened #6608 "Simple way to add Basic Ops in ChainerX"
While working on the PR to add `sin` and `cos` functionality. I found that most of the code was same except for a verysmall part.

Also going through the PR #6590 , it seems that a lot of same code needs to be added/modified at various places.

So I tried to do it with a simple Macro based on Tanh implementation.
[code]
which allows to define a new Operator simply by
[code]
From a glance it can al

[2019-03-24 03:43] hvy opened #6609 "ChainerX BatchNorm unstable for FP16"
The `BatchNorm` is quite unstable with FP16, both native and CUDA and should be debugged. The backward tests in Python for instance fail unless relaxed with high tolerances (higher than Chainer's  `F.batch_normalization` tests).

[2019-03-25 04:09] #6596 closed

[2019-03-25 04:24] hvy commented on #6604
Fixed and closed by #6605 .

[2019-03-25 04:24] #6604 closed

[2019-03-25 04:26] niboshi opened #6612 "Leave array nodes when cutting graph in ops like Dot, Floor, etc."
This behavior is not intuitive:

[code]

[2019-03-25 04:30] niboshi commented on #6612
Fix:
* Ops may cut the graph, but even then always leave array nodes.
* Omit array nodes only in functions like `AsGradStopped`.

[2019-03-25 04:48] fiarabbit opened #6613 "[feature request] Add documentation about chainer-benchmark"
I want to do some benchmarking between machines (hopefully with chainer). I found [chainer-benchmark](https://github.com/chainer/chainer-benchmark) and I think it is the exact one I hoped to use. However, there is too little documentations about the repository so that I cannot find any how-to-use.

For example,
- how to run on a specific ID of GPU in multi-GPU environment
- etc...

Is there any pl

[2019-03-25 05:49] kmaehashi commented on #6613
Thanks for the feedback. Generally it is a set of benchmark code written for ASV. I think ASV documentation well-covers the usage.
https://asv.readthedocs.io/en/stable/using.html#running-benchmarks

Currently we're using it internally and the priority for documentation enhancement is not very high. Feel free to post issues in chainer-benchmark repo (e.g., "Need documentation for XYZ") if you have

[2019-03-25 06:31] fiarabbit commented on #6613
@kmaehashi OK, thanks! If I have trouble, I'd like to post it on `chainer-benchmark`.

[2019-03-25 06:31] #6613 closed

[2019-03-25 09:02] shu65 opened #6616 "Support for early stopping in ChainerMN"
Chainer has 'EarlyStoppingTrigger' to support early stopping.
It is not able to be used when ChainerMN is used.

But, the support for it in ChainerMN may be difficult, because the additional communications are required for it.
Does anyone have any idea to solve this problem?

[2019-03-25 09:26] shu65 commented on #6616
@kuenishi 's idea:
Instead of communicating every iteration, mpi workers communicate every 10 iterations and every 100 iterations to judge

[2019-03-25 12:43] kshitij12345 commented on #6612
Hi,

I do understand roughly how back-prop and computation graphs are formed. However I didn't understand why the `zs[1]` computation is not tracked after dot.
Interested to know more about how auto-diff is implemented in ChainerX.
Thank You.

[2019-03-25 13:21] Harshan01 opened #6622 "ChainerX forward support for Clipped ReLu"
With respect to #6477, ChainerX version of Clipped ReLu forward can be implemented.

[2019-03-25 13:21] Harshan01 commented on #6622
Can I work on this?

[2019-03-25 13:41] Harshan01 commented on #6423
@hvy Hi, I have noticed that ArgMin function is missing. I think ArgMin could be implemented. Can I work on this?

[2019-03-25 13:46] Harshan01 opened #6623 "Implementation of ArgMin in ChainerX"
ArgMin (similar to ArgMax) can be implemented in ChainerX

[2019-03-25 13:51] Harshan01 commented on #6623
Can I work on this issue?

[2019-03-25 23:41] Harshan01 commented on #6622
Sorry,  I had some issues with previous pull request.
This is the new one.

[2019-03-26 01:53] hvy commented on #6623
Thanks for asking and yes sure. I think it can be implemented using `ArgMax`, just negating the inputs, which might be fine for an initial implementation.

[2019-03-26 01:54] hvy commented on #6423
Hi @Harshan01, I replied to your issue https://github.com/chainer/chainer/issues/6623. Can you take a look?

[2019-03-26 03:13] hvy opened #6628 "Rewrite link tests using `testing.LinkTestCase`"
We have introduced `testing.LinkTestCase` (https://github.com/chainer/chainer/pull/6559).
This tool enables writing a link test for various backends (including ChainerX) in much simpler way.
This tool also provides an option to automatically dodge non-differentiable inputs.
We should apply this to all the existing link tests, and assure ChainerX support in those functions.

Please refer to the iss

[2019-03-26 04:30] hvy opened #6629 "Release ChainerX's product backlog"
The product backlog (PBL) is already available at https://docs.google.com/spreadsheets/d/1daitXlRhHu7eZENFUs1cHw8o12rmA8bvudUQ0Yof8Jc but the URL needs to be included in the following.

- [x] In readme.
- [x] In release note of [v6.0.0rc1](https://github.com/chainer/chainer/releases/tag/untagged-fb7dceb92bf19135243b).

[2019-03-26 07:40] okapies commented on #5885
It is related to #6452.

[2019-03-26 08:20] niboshi commented on #6574
The motivation is to reduce the numeric tolerances which are a bit too large, is that correct?

https://github.com/chainer/chainer/blob/v6.0.0b3/tests/chainer_tests/functions_tests/connection_tests/test_linear.py#L41

[2019-03-26 08:26] kmaehashi commented on #6598
Will be fixed in #6450

[2019-03-26 09:46] kmaehashi commented on #6606
It seems you are using cuDNN 7.5 for 5.3.0 / 6.0.0b2 and cuDNN 7.4.2 for 6.0.0b3.
How about trying cuDNN 7.5 with 6.0.0b3?

[2019-03-26 10:11] belldandyxtq opened #6637 "Import ABC from `collections.abc` instead of `collections`"
Importing `ABC` from `collections` will be removed in python 3.8. It should be changed to be imported from `collections.abc` ASAP.

Details:

[code]

If your issue is a **request for support in using Chainer**,
please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/chainer).

If it is a **bug report**, **feature request** or **suggestion**,
please take a look at [our contrib

[2019-03-26 10:17] kmaehashi commented on #6637
Chainer uses `from chainer.utils import collections_abc` for Py2/3 compatibility.

[2019-03-26 12:55] kmaehashi opened #6638 "How should we handle warnings raised during tests?"
Currently limited set of warning classes are treated as errror.
https://github.com/chainer/chainer/blob/2615ab68923d0cc55dc3b5c0708f9fdcd48d6b03/setup.cfg#L10-L13

However other warnings are just ignored. Maybe it is better to treat all warnings as error.

[2019-03-26 13:54] GuillaumeSmaha commented on #6606
Hi,
This is weird, I didn't change the version of cuddn7 installed. I only used `pip install cupy chainer` to switch between the version.
The version installed in my container is `7.5.0.56-1+cuda10.1`.

I double checked the runtime information and the cuddn version with 6.0.0b3 becomes `cuDNN Version         : 7402` whereas the cudnn version is still the same in the container.

If you want, I can

[2019-03-26 14:30] GuillaumeSmaha commented on #6606
Ok, I just installed `cupy==6.0.0b3` instead of `cupy-cuda100==6.0.0b3` and now it seems good:
[code]

I am going to relaunch the profiler

[2019-03-26 15:58] GuillaumeSmaha commented on #6606
With cudnn 7.5, the call to `conv2d_grouped_direct_kernel` is gone.

I update demo.py to run SDD300. I forgot that the first call could be slower due to the compiling and caching.
My change to `demo.py`:
[code]

So here my results for 250 iterations with profiler:
![ssd300_chainer-and-cudnn-compare](https://user-images.githubusercontent.com/1287922/55012745-3f8b8700-4fbe-11e9-9b98-b80e7b294fbe.png

[2019-03-27 01:30] shu65 opened #6641 "Support for CUDA async in `batched_copy` of `PureNcclCommunicator`"
`PureNcclCommunicator` supports for CUDA async to use double buffering. But, it does not use CUDA async when `batched_copy`  is TRUE.

[2019-03-27 03:00] niboshi commented on #6612
Sorry, maybe it was not clear enough.

In the current implementation, computational graphs are formed by using `BackwardBuilder`.
https://github.com/chainer/chainer/blob/aa3cfc300eeb4b95a1b7ba624b4e459f890cb6b0/chainerx_cc/chainerx/routines/connection.cc#L349

`BackwardBuilder` installs `ArrayNode`s in the output arrays and spans edges to input array nodes with `OpNode`. (more precisely it's done

[2019-03-27 03:06] tkerola opened #6644 "Non-owned input to cuDNN deconvolution with 1-dim data causes error."
The cuDNN implementation of deconv for 1-dim input causes an error if the input does not own its data.

I guess we can fix this by adding `(x.shape[1] > 1 or x.flags.owndata)` to https://github.com/chainer/chainer/blob/2615ab68923d0cc55dc3b5c0708f9fdcd48d6b03/chainer/functions/connection/deconvolution_2d.py#L187-L194
(I'm not sure about exactly what in the cuDNN call causes this though, but the ab

[2019-03-27 04:35] hvy commented on #6401
Closing as all subtasks are finished.

[2019-03-27 04:35] #6401 closed

[2019-03-27 04:56] niboshi opened #6646 "Run ChainerX python binding test in debug mode"

[2019-03-27 05:09] crcrpar commented on #6644
I tried `L.DeonvolutionND` with ndim = 1, 2, 3 and found that L.Deconvolution1D somehow dealt with an input whose owndata flag is False.

**environment**
[code]

---

[code]

[2019-03-27 07:36] #6436 closed

[2019-03-27 07:48] #5631 closed

[2019-03-27 08:42] Harshan01 opened #6654 "Implementation of AMin function in ChainerX"
Amin (like AMax) can be implemented in ChainerX.

My thoughts of initial implementation is negating the inputs and sending it to 'Device ArgMax' and then negating the outputs back. It can be improved later.

[2019-03-27 08:42] Harshan01 commented on #6654
Can I work on this issue?

[2019-03-27 10:06] hvy opened #6657 "`chainerx.md` is not needed"
`chainerx.md` is legacy and not really needed any more now that proper documentation exists. Some of its content must be moved to the official docs however.

It has also been mentioned here https://github.com/chainer/chainer/pull/6630#discussion_r269416244.

[2019-03-27 10:30] kshitij12345 commented on #6612
Oh I see, makes sense to me now.

Thank you for taking your time and explaining it.

[2019-03-27 11:26] toslunar opened #6661 "In examples, use device spec instead of gpu id"
Examples with `--gpu` does not support chainerx and intel64 backends.
Add `--device` option to the examples and use `chainer.get_device` to support all the backends.

See [examples/mnist/train_mnist.py](https://github.com/chainer/chainer/blob/master/examples/mnist/train_mnist.py) for an example with `--device`.

[2019-03-27 14:09] Harshan01 commented on #6423
#6650 @hvy I have implemented ArgMin for ChainerX.

[2019-03-27 18:41] #6343 closed

[2019-03-28 01:58] hvy commented on #6423
Thanks for quick implementation, we'll take a look at it.

[2019-03-28 02:39] kuenishi opened #6670 "Communicator API improvement"
- The name `allreduce_grad` is not right because it is only for models and also does division. Would be a good time to update its name.
- Make communicator contextmanager - https://github.com/chainer/chainer/pull/6636 revealed an issue that object lifecycle (the timing GC'd) cannot be controlled.

[2019-03-28 03:00] #6257 closed

[2019-03-28 05:02] #4550 closed

[2019-03-28 05:02] grafi-tt commented on #5877
Now ChainerX implementation is added (#6627). Apparently it would return `[1., 1., 1.]` on the test snippet above.

[2019-03-28 05:35] shu65 commented on #5732
Solved by https://github.com/chainer/chainer/pull/6448 https://github.com/chainer/chainer/pull/6548

[2019-03-28 05:35] #5732 closed

[2019-03-28 05:37] keisukefukuda commented on #5740
Thanks. I will double-check the results.
Further questions and issues:
 * Need to reproduce the whole results
 * What is the default PML layer of the versions of Open MPI?

[2019-03-28 05:49] shu65 commented on #6637
Jenkins, test this please.

[2019-03-28 06:31] niboshi opened #6674 "OpRegistry, its Backend interface, and op registration macro"

[2019-03-28 08:01] belldandyxtq commented on #6637
Done with the PR #6645

[2019-03-28 08:01] #6637 closed

[2019-03-28 10:18] #6385 closed

[2019-03-28 19:03] toslunar opened #6684 "Different behavior of square of `bool` array between numpy and chainerx"
[code]

The issue is found from https://github.com/chainer/chainer/pull/6683#discussion_r270144347.  Thank you, @kshitij12345.

[2019-03-28 20:58] kshitij12345 commented on #6684
Hi,
I would like to take this up if it's up for grab.

Also numpy, converts
`bool -> int8`
and preserves all other ints.

Should we preserve like `numpy`
or
[code]
or
[code]

[2019-03-29 00:38] kuenishi commented on #6133
Although we have merged https://github.com/chainer/chainer/pull/6461 , we still don't have None check of grads before allreduce . I'd delegate this to future tasks, as we have few time left for rc1 freeze.

[2019-03-29 01:40] crcrpar commented on #5197
This issue is partially resolved in #5842 which does not support backward.

[2019-03-29 01:47] crcrpar opened #6689 "[suggestion] `LinkHook` subclass that normalizes weight of `link`."
We have added Spectral Normalization (SN) (#5742, #6655) as link hook, and there is an ongoing PR https://github.com/chainer/chainer/pull/6678 of Weight Standardization (WS). Also, we can implement Weight Normalization likewise.
However, we need to disable `__enter__` and `__exit__` and deal with lazy initialization and different axes corresponding to the number of output features/channels.
Becaus

[2019-03-29 02:40] niboshi opened #6690 "Do clang-tidy check only for modified source files in Travis CI"
Travis-CI's queue is a bit too long lately and clang-tidy takes quite a time.
It could be shortened by only checking modified source files in each PR.

#6682 removes the check entirely from Travis CI but we may be able to restore it once this will be implemented.

[2019-03-29 05:01] crcrpar commented on #6689
Working branch is https://github.com/crcrpar/chainer/tree/weight_norm_base.

[2019-03-29 07:27] niboshi opened #6692 "Rewrite device functions using dynamic op registration"
* Rewrite existing op implementations with dynamic op registry #6675.
* Remove the corresponding `Device` virtual functions.
.
* [x] connection #6833
* [x] creation https://github.com/chainer/chainer/pull/6745
* [x] indexing #6718
* [x] linalg #6746
* [x] logic #6727
* [x] manipulation https://github.com/chainer/chainer/projects/2#card-20071153
* [x] math
  * [x] arithmetic #6723
  * [x] trigonome

[2019-03-29 12:45] toslunar commented on #6638
The severity differs.  Unexpected warnings of type `FutureWarning`, `DeprecationWarning`, or `PendingDeprecationWarning` show inevitable issues of the package.  Other warnings usually show no more than immature tests.

[2019-03-30 07:33] aksub99 commented on #6423
@hvy The missing Python bindings and tests in `Minimum` are being implemented in PR #6541 .

[2019-03-30 14:53] weiji14 opened #6702 "F.mean_absolute_error numerically unstable with float16 arrays"
In #5053, float16 support has been enabled for [F.mean_absolute_error](https://github.com/chainer/chainer/blob/master/chainer/functions/loss/mean_absolute_error.py), but it seems to produce NaN values quite easily. Usually this happens when using big batch sizes and/or if the absolute error difference is large.

The calculation is done by summing over all the absolute differences, and then dividin

[2019-03-30 15:16] IvanYashchuk commented on #6423
Hello @hvy, I've added a few new triginometric routines in PR #6703 .

[2019-03-30 16:37] crcrpar commented on #6702
I found that `numpy.mean` implicitly casted input to float32 before averaging if the input was fp16.
See NOTE of https://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html.

This seems to resolve this to some extent.

[2019-03-31 02:39] #6394 closed

[2019-03-31 16:02] KOLANICH opened #6706 "Could you add into the FAQ comparison to pytorch and tensorflow"

[2019-03-31 18:54] crcrpar commented on #6706
Isn't this comparison table enough?
I think it is a bit difficult to access.

https://docs.chainer.org/en/stable/comparison.html

[2019-03-31 19:53] Rishav1 commented on #6027
This issue arises as the backward pass gathers gradients [from all output nodes](https://github.com/chainer/chainer/blob/1130eea1fe018eb3b61d112cade283ea2ccf5731/chainer/variable.py#L1030-L1031), even from output nodes on whom unchain() have been called. In order to curb this behavior, I think we can zero out gradients in [this line](https://github.com/chainer/chainer/blob/1130eea1fe018eb3b61d112c

[2019-03-31 20:31] #6706 closed

[2019-03-31 20:31] KOLANICH commented on #6706
Thanks. I  aggree. So it seems to me there is no sense to prefer it over pytorch.

[2019-04-01 04:12] #6198 closed

[2019-04-01 05:16] toslunar commented on #3986
[code]
https://jenkins.preferred.jp/job/chainer/job/chainer_pr/145/TEST=CHAINERX_chainer-py3,label=mn1-p100/console

[2019-04-01 05:42] kmaehashi opened #6708 "Provide feature to automatically annotate NVVP profile results"
https://github.com/lazykyama/chainer_profutil is useful tool and I would like to provide this feature by default.

[2019-04-01 08:25] hvy commented on #6423
`Chainerx::Absolute` would be useful.

[2019-04-01 11:28] #6674 closed

[2019-04-01 20:57] dido1998 commented on #6423
@hvy,  I implemented Absolute PR #6715

[2019-04-02 00:27] crcrpar commented on #6545
[clpy](https://github.com/fixstars/clpy) seems useful.
https://github.com/fixstars/clpy/releases/tag/v2.1.0rc1

[2019-04-02 02:24] niboshi opened #6720 "AttributeError: 'NoneType' object has no attribute 'isenabled'"
https://jenkins.preferred.jp/job/chainer/job/chainer_pr/119/TEST=CHAINERX_chainer-py3,label=mn1-p100/console

[code]

[2019-04-02 05:25] toslunar commented on #6027
@Rishav1 Thanks for the investigation and the concrete suggestion.  Are you interested in making it a pull request?
- Because my example is artificial, could you show your example where the issue matters, if you found the issue somewhere else?  A realistic example would raise the priority of the issue.
- In fact, I'm waiting for PRs to fix other backprop issues are merged.  The PRs #6348, #5952, #

[2019-04-02 07:00] gwtnb opened #6726 "Add weight standardization"
Add [weight standardization](https://arxiv.org/abs/1903.10520).

[2019-04-02 07:01] crcrpar commented on #6726
PR does exist! #6678.

[2019-04-02 07:08] kmaehashi commented on #6720
I think the docker image needs to be recreated.
https://github.com/cupy/cupy/pull/2116

[2019-04-02 07:10] gwtnb commented on #6726
Oh, sorry. I missed that.

[2019-04-02 07:48] #6720 closed

[2019-04-02 10:03] #6646 closed

[2019-04-02 11:48] kmaehashi commented on #5470
Please leave a comment with use-case here if you want this feature.

[2019-04-03 02:34] cmpute commented on #6545
FYI
- https://github.com/srossross/Clyther/
- https://github.com/inducer/pyopencl
- https://github.com/lebedov/scikit-cuda
- https://github.com/jroose/pyclblas
- https://github.com/geggo/gpyfft
- https://github.com/KhronosGroup/OpenCL-Headers
- https://github.com/clMathLibraries
- https://github.com/ROCmSoftwarePlatform/rocBLAS

[2019-04-03 08:49] #5728 closed

[2019-04-03 09:49] #3233 closed

[2019-04-03 09:49] #3751 closed

[2019-04-03 09:49] #3798 closed

[2019-04-03 11:20] Harshan01 commented on #6623
Updated ArgMin Implementation in ChainerX #6740

[2019-04-03 17:11] Rishav1 commented on #6027
@toslunar Thanks for responding to my comment. Take a look at this example similar to yours.

[code]
Calling backward() on y correctly accumulates the gradient at the root h0 which means unchain is not the issue. But on calling backward() on z, the backward pass on reaching SplitAxis pulls the gradients from both the node outputs h0 and h1 into the input x. As I mentioned, I believe this behavior

[2019-04-03 17:50] kshitij12345 opened #6741 "[chainerx] Expression Template Possible?"
[Expression Templates](https://en.wikipedia.org/wiki/Expression_templates) can provide performance gain by fusing operations and avoid temporaries.

To test this with a simple expression,
[code]
and timed it with
[code]

`compressed_compute` is just the binding for Kernels with
[code]

With Native, times are
[code]
i.e. roughly half the time.

With CUDA, times are
[code]
.i.e. roughly quarter the

[2019-04-04 02:56] shinh opened #6742 "chainerx.argmax for cuda seems to be wrong"
[code]

Isn't this a bug? Probably, this happens only when all values are negative.

[2019-04-04 04:15] shinh opened #6743 "ChainerX batch normalization may fail with CUDNN_STATUS_BAD_PARAM"
If you use `chainerx.batch_norm` for a 2D/3D array, it fails with `CUDNN_STATUS_BAD_PARAM`. For users, it's hard to identify the reason of the failure. We could improve the error message like what we are doing for conv/pool.

[code]

Repro:

[code]

[2019-04-04 07:05] niboshi commented on #5048
We had a discussion today and lowered the priority as RL will be handled in a different way: not by datasets/iterators.

[2019-04-04 10:17] toslunar commented on #6131
The message "Partially fixes #6131" automatically closed this, but it's partial, of course.
https://help.github.com/en/articles/closing-issues-using-keywords

[2019-04-04 10:30] hvy commented on #6131
Thanks, I should stop writing that. Although late, I changed the description to "Part of ...".

[2019-04-04 13:27] crcrpar commented on #6743
In my environment which lacks GPUs, this script worked.
I mean, CPU/native implementation seems not to have this bug.

[2019-04-04 14:07] GuillaumeSmaha commented on #6606
@kmaehashi I am closing this issue since the result is better with cudnn7.5.

Maybe you should re-distribute cupy-cuda10==6.0.0b3 built with cudnn7.5 instead of cudnn 7.4

[2019-04-04 14:07] #6606 closed

[2019-04-04 14:21] Harshan01 commented on #6423
@hvy, I have implemented Amin function #6752

[2019-04-04 14:24] Harshan01 commented on #6423
@hvy, I have re-implemented ArgMin function due to recent changes mentioned in #6740

[2019-04-04 18:27] aksub99 commented on #6423
@hvy PR #6501 for squared difference is ready for review now. Please review at your earliest convenience.

[2019-04-04 18:50] kmaehashi commented on #6606
Recently we made some changes regarding cuDNN library discovery:

* In v6.0.0b2 or earlier (including v5.x series), bundled cuDNN library can be overridden with locally-installed one by using `LD_LIBRARY_PATH`. (I guess you have cuDNN 7.5 installed locally).
* In v6.0.0b3 or later, bundled cuDNN library cannot be overridden by using `LD_LIBRARY_PATH`.

Regarding cuDNN v7.5 redistribution,
* v6.0.0

[2019-04-05 02:09] #6629 closed

[2019-04-05 04:32] shu65 opened #6759 "Add an argument to fill zeros to grad in allreduce"
ChainerMN ignores grad if it is None in allreduce (https://github.com/chainer/chainer/blob/master/chainermn/communicators/_memory_utility.py#L94)
But, this is a problem for some models (such as SSD).
To solve it, I’m considering to add an argument to fill zeros to buffer instead of grad data if the grad is None.

[2019-04-05 07:46] kuenishi opened #6763 "Snapshot consistency discussion"
When using GPU most computations are concurrent with main thread. Also, several snapshot writers are concurrent with main thread, e.g. `ThreadWriter` or `ProcessWriter` . There are some cases that's okay for consistent snapshot, but others may or may not be okay. Here's the table for potential inconsistency depending on combination of compute backend and snapshot writers by my survey.

| array\Wri

[2019-04-05 07:50] IvanYashchuk opened #6764 "Add Linear Algebra routines in ChainerX"
I'd like to work on adding linear algebra routines to ChainerX during GSoC. Most of the `numpy.linalg` functions listed in [_ChainerX routines_ spreadsheet](https://docs.google.com/spreadsheets/d/1B4E78tw9Awgpcdn5G7zsQ8NVFYJdOoJlIQg42QxKNfU/edit#gid=0) have low priority, so their implementation probably can wait for the summer.

Many linalg operations have optimized implementations in various open

[2019-04-05 10:27] toslunar commented on #6514
Fixed in #6515.

[2019-04-05 10:27] #6514 closed

[2019-04-05 15:43] niboshi opened #6770 "Show prompt in text classification example"
In `run_text_classifier.py` in the text classification example, user input is expected via stdin, but the program does not print any prompt.

[2019-04-05 15:48] niboshi opened #6771 "Examples need more comments"
Many examples lack comments essential for readers to understand the code.

[2019-04-05 15:57] niboshi opened #6772 "Improve Device.__str__"
Currently device classes (`CpuDevice`, `GpuDevice`, `ChainerxDevice`, `Intel64Device`) only override `__repr__`. The resulting string is a bit cryptic for users.

https://github.com/chainer/chainer/blob/v6.0.0rc1/examples/mnist/train_mnist.py#L58

[code]

[2019-04-06 08:04] #4800 closed

[2019-04-06 08:04] #4951 closed

[2019-04-06 08:04] #3686 closed

[2019-04-06 08:04] #4221 closed

[2019-04-06 08:04] #4950 closed

[2019-04-06 08:04] #2938 closed

[2019-04-06 08:04] #3908 closed

[2019-04-06 08:04] #4096 closed

[2019-04-06 17:47] kshitij12345 opened #6778 "[bug] [chainerx] Incorrect cast to bool when (`dtype == float16' and 'device==cuda')"
When a `float16, cuda` array is cast as `bool`, the result is inverted i.e. `0 -> True` while `Other Values -> False`

Eg:
[code]

[2019-04-08 04:14] toslunar commented on #5266
Reopen the issue as a PR is ongoing.

[2019-04-08 04:47] niboshi commented on #6608
Thank you for suggestion!

It looks useful as there are many unary ops.

We will need versions for both float-point dtypes and all dtypes (the latter for ops like `Negative`).
How about something like the following?

[code]

For example:
[code]

Also as we recently introduced `OpRegistry` and changed the way ops are defined. So the body of  the macro must be modified accordingly.

[2019-04-08 06:06] muupan commented on #4767
Reopened because I want to use a link like this in ChainerRL too. https://github.com/chainer/chainerrl/pull/427

[2019-04-08 07:02] niboshi commented on #4767
As for the interface, how about accepting a `list`-like, instead of unpacking arguments (`*`)?
i.e.
[code]
I know it's inconsistent with `Sequential` but the code with unpacking arguments looks error-prone.

[2019-04-08 07:44] muupan commented on #4767
As for the name, besides the fact that "Parallel" can be confusing with multithread/process computation,
- "Parallel" can mean n-input-n-output, but this link is 1-input-n-output (before connected), and
- "Branch" as a noun sounds like a single branch.

I think "Branched" can be a better alternative.

[2019-04-08 07:47] toslunar commented on #5414
I'm interested in the issue, while I no longer endorse `as_variable(scalar)`.

[2019-04-08 09:47] toslunar commented on #6027
Thank you, @Rishav1.

Your example is more realistic than mine.  It's sad to say it doesn't prove the importance of this issue, because your example would run as expected if #5722 is merged (and the compatibility option is turned off).  If you found the issue from a code like your example, you might be interested in #5709.

[2019-04-08 10:26] toslunar commented on #6027
I welcome @Rishav1 to raise a PR.  Let me revert my previous comment.

If this issue is resolved soon, the fix will be available in version 6.x as a backport, because the issue is purely a bug.  I don't expect the same for #5709, which has a difficult status as non-negligible number of users rely on the current behavior.

[2019-04-08 12:24] #6742 closed

[2019-04-08 13:16] nishnik commented on #6772
Hi @niboshi ,
I did some background research and there are four `Device` types we use:
- [CpuDevice](https://github.com/chainer/chainer/blob/master/chainer/backends/_cpu.py)
- [GpuDevice](https://github.com/chainer/chainer/blob/master/chainer/backends/cuda.py)
- [ChainerxDevice](https://github.com/chainer/chainer/blob/master/chainer/backends/_chainerx.py)
- [Intel64Device](https://github.com/chain

[2019-04-08 15:04] #6778 closed

[2019-04-08 18:08] kshitij12345 commented on #6608
If it's okay, can I send a PR regarding the same?

[2019-04-08 22:22] Rishav1 commented on #6027
@toslunar, I raised a PR and added a test that fails without the change.

[2019-04-09 00:58] niboshi commented on #6608
@kshitij12345
Sure, that would be nice!

[2019-04-09 03:52] takagi commented on #6702
Thanks for your report and suggestion. To use a higher precision intermediate dtype should make sense and is actually applied in #6366 and #6442. I'll fix `F.mean_absolute_error` with the same approach.

[2019-04-09 04:41] euler16 commented on #6521
while trying to build the documentation, I am getting the following error

'source file: {}'.format(source_abs_path))
RuntimeError: Couldn't parse root directory from source file: /home/rajivratn/anaconda2/envs/chain/lib/python3.6/site-packages/chainer/serializer.py

after searching the codebase, i think the error is emanating from conf.py in doc/src.
could you tell me how to fix this?

[2019-04-09 05:17] hvy commented on #6608
A drop by comment by how about ELTWISE instead of ELMWISE? The former seems to be more common (Google search hits). I observe it in context of CUDA and Caffe at least.

[2019-04-09 05:55] niboshi commented on #6608
@hvy Good catch. Updated the post above.

[2019-04-09 06:04] niboshi commented on #6772
@nishnik
Yes, there are the four device classes.

For concrete outputs, it would nice to match the device specifier as follows:

`CpuDevice`: `@numpy`
`GpuDevice`: `@cupy:2`
`ChainerxDevice`: `cuda:2`
`Intel64Devicd`: `@intel64`

[2019-04-09 07:04] euler16 commented on #6521
I overcame the above issue

[2019-04-09 07:06] euler16 commented on #6521
I have sent a PR for the same. made sure I ran autopep8 and flake8 before sending PR.

[2019-04-09 08:40] beam2d commented on #6741
Where are the numbers coming from? Do you already have implementations for fusing operations?

[2019-04-09 09:11] niboshi commented on #6763
@kuenishi We discussed today. Probabily we don't have to care about the performance implication of making copies, because I/O should always be a bottleneck. So how about (2), which is the safest solution?

By the way, why is cupy-Simple combination "△"? I think in this case copies are always made.

[2019-04-09 10:36] euler16 opened #6810 "Adding a usage example to NStepLSTM."
Adding an example would make NStepLSTM easier to understand.

[2019-04-09 10:38] euler16 commented on #6810
Fixed in PR #6808

[2019-04-09 18:42] kshitij12345 commented on #6741
No I don't have an implementation.
Just to check if the hypothesis is correct, I manually added the function which did the same operation in a fused way with
`void operator()(int64_t /*i*/, T a, T b, T c, T d, T e, T& out) { out = a + b + c -d + e; }`.

[2019-04-09 18:43] kshitij12345 commented on #6608
Oh, @hvy @niboshi , thanks for taking interest. Will soon hit you with a PR.

[2019-04-10 03:23] kmaehashi opened #6818 "Reorganize Chainer examples and make it runnable"
Related to #6771.

Currently our example codes are copied to multiple locations:

* Examples (under `examples/`)
* Documentation (under `docs/source/examples`, some uses `literalinclude`)
* Chainer Colab Notebook (maintained by chug, https://chainer-colab-notebook.readthedocs.io/en/latest/official_examples.html)

Using [sphinx-gallery](https://sphinx-gallery.github.io/), we can build HTML and Jupy

[2019-04-10 03:34] asi1024 opened #6819 "CUDA handles are not accessible by ops"
`cuda_internal::DeviceInternals device_internals_` held by `CudaDevice` which should contain all private members of `CudaDevice` needed by e.g. op implementations. A free function to obtain the device internals from a device must be provided as well.

[2019-04-10 04:40] kuenishi commented on #6763
Although copying arrays happens at main thread, GPU computations are to be done asynchronously. There could be a time where updating params in CUDA streams *and* copying at main thread are in race. Copying each array are atomic but as a whole model updating each array may interleave copying multiple arrays.

I also have found another idea, which is adding a copy option flag passed to snapshot obje

[2019-04-10 04:40] kuenishi commented on #6763
But (2) is also fine to me, of course.

[2019-04-10 07:05] niboshi opened #6825 "Stack overflow when `to_cpu`-family is overridden"
### Code
[code]

### Result
[code]

[2019-04-10 08:07] #6819 closed

[2019-04-10 08:12] belltailjp commented on #4220
Hi! I also had a situation where I want to get grads of an intermediate Variable(Node) from a computational graph.
Ideally I do think we should modify or extend the network implementation so that we can get activations (intermediate `Variable`) like what chainer's ImageNets and chainercv's `PickableSequentialChain` do.
In case I don't want to modify the code of the network (e.g. it's from pip-inst

[2019-04-10 09:50] #5036 closed

[2019-04-10 09:51] #5802 closed

[2019-04-10 10:58] niboshi commented on #6692
TODO: after finishing above tasks, we should review them once again. We introduced some additional convension after merging some of them.

[2019-04-10 12:08] niboshi commented on #6692
Also, we should rename macros:
* `CHAINERX_REGISTER_OP_CUDA` -> `CHAINERX_CUDA_REGISTER_OP`
* `CHAINERX_REGISTER_OP_NATIVE` -> `CHAINERX_NATIVE_REGISTER_OP`

[2019-04-10 14:19] crcrpar commented on #6818
Do you mean `docs/source/guides`?

[2019-04-11 00:55] niboshi opened #6837 "v6 upgrade guide"
* [ ] `Device`/`DeviceResident`/`to_device`
* [ ] `chainer.dataset.converter`

There may be others.

[2019-04-11 01:39] beam2d opened #6838 "`ConcatWithAsyncTransfer` does not work with the latest CuPy"
`ConcatWithAsyncTransfer` fails due to a bug in [this line](https://github.com/chainer/chainer/blob/v6.0.0rc1/chainer/dataset/convert.py#L462); in the latest dev version of CuPy, `cupy.empty_like` does not accept numpy ndarray. The fix should be simple, but the root problem is the lack of tests for `ConcatWithAsyncTransfer`. We need them.

Details:

* Conditions
Chainer: 6.0.0rc1
NumPy: 1.16.2
CuP

[2019-04-11 04:52] toslunar commented on #6244
#5986 is merged.

[2019-04-11 05:00] toslunar commented on #6244
The issue hasn't been fixed.

[2019-04-11 05:27] niboshi commented on #6244
@toslunar What's remaining?
The stack overflow issue is tracked at #6825.

[2019-04-11 06:44] toslunar commented on #6244
The code in #6825 is a simplification (by @kmaehashi and me) of the code here *to reproduce a specific error*.  Let's keep this issue open until @Hakuyume confirms it.

[2019-04-11 07:11] niboshi commented on #6763
Ah, I see. Thank you for explanation. Hmm, it sounds it would be a non-trivial fix.

[2019-04-11 07:14] kmaehashi commented on #6818
No, I mean these examples:
https://docs.chainer.org/en/stable/examples/index.html

[2019-04-11 07:29] crcrpar commented on #6818
Ok.

I think it also be good if tutorials are runnable.
Or is there a plan to translate chainer/tutorials repo into English?

[2019-04-11 08:27] hvy opened #6848 "clang-tidy errors in headers must be fixed"
clang-tidy has apparently not been applied to the header files of ChainerX for a while and this has lead to several warnings/errors to be merged into the master branch. Fixing all warnings/errors at once might be difficult so I'll open this issue so that partial fixes can refer to something.

See  https://github.com/chainer/chainer/pull/6441 for how to actually run clang-tidy on the headers and to

[2019-04-11 08:34] kuenishi commented on #6763
Yes, in that case we have to synchronize CUDA stream before making a copy. I might think it's worth paying the cost ... only when taking snapshots are rare enough.

[2019-04-11 08:38] #6825 closed

[2019-04-11 10:20] wkentaro commented on #3106
I also encountered the same problem. It occurs if we pass `initializer=<numpy.array>, shape=<shape of array>`, but won't occur without `shape=<shape of array>`.

[2019-04-11 15:33] hvy opened #6864 "Rename CHAINERX_REGISTER_OP_{CUDA/NATIVE} -> CHAINERX_{CUDA/NATIVE}_REGISTER_OP"
as the scope describing {Native,CUDA} should come before the actual macro "name".

[2019-04-12 03:17] niboshi opened #6873 "Add `chainerx.ndarray.all` and `chainerx.ndarray.any`"
ChainerX module functions `chainerx.all` and `chainerx.any` have been added in #6781 (thanks @kshitij12345 !!).

Now we can add corresponding `ndarray` methods and remove those defined in `_fallback_workarounds`.

[2019-04-12 06:16] kwasnydam commented on #5621
Not sure if you still need help on that, but it seems you are adding the loss variable, which is a part of the computational graph, to the list, so that the memory and the graph can not be released properly. You should retrieve only the data from the loss variable (append loss.data)

[2019-04-12 06:39] niboshi opened #6875 "Use `filename` argument in `PlotReport` code example"
https://docs.chainer.org/en/latest/reference/generated/chainer.training.extensions.PlotReport.html

`file_name` is still used.

[2019-04-12 06:40] niboshi opened #6876 "Documentation search engine does not find class names"
By searching for "PlotReport" for example,

https://docs.chainer.org/en/latest/search.html?q=PlotReport&check_keywords=yes&area=default#

It does not find this page:

https://docs.chainer.org/en/latest/reference/generated/chainer.training.extensions.PlotReport.html

[2019-04-12 08:07] lilaczhou opened #6878 "AttributeError: 'module' object has no attribute 'cudnn'`"
I got an error when I imported chainer
`>>> import chainer
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/chainer/__init__.py", line 13, in <module>
    from chainer import functions  # NOQA
  File "/usr/local/lib/python2.7/dist-packages/chainer/functions/__init__.py", line 8, in <module>
    from chainer.functions.activation

[2019-04-12 08:14] lilaczhou commented on #6878
when i run
![image](https://user-images.githubusercontent.com/45725450/56022290-e6ea1700-5d3d-11e9-9d59-969e139681ff.png)
in pycharm
the result is
![image](https://user-images.githubusercontent.com/45725450/56022327-fb2e1400-5d3d-11e9-8fc0-4aacdda4c455.png)

[2019-04-12 08:44] kmaehashi commented on #6878
As suggested in the issue template, please post  **request for support in using Chainer**,
 on [Stack Overflow](https://stackoverflow.com/questions/tagged/chainer).

I'd suggest you to use newer Chainer versions (v5.4.0). Do you have any strong reason to use 1.14.0?

[2019-04-12 08:50] lilaczhou commented on #6878
the code I have is ran under 1.14.0,when I am using the version of the newest,it gave me an error

[2019-04-12 09:37] keisukefukuda opened #6882 "pytest 2x2 fails"
Pytest with `2x2` (2 containers with 2 processes each, 4 processes in total) fails with the following error.

[code]

The full output is shown here: https://gist.github.com/keisukefukuda/4e5a89b039f4e4083769ba8303bbf3b2

[2019-04-13 08:12] crcrpar opened #6894 "No documentation for `LinkTestCase`"
#6559 missed documentation.

[2019-04-14 06:47] stegben commented on #6071
Hi, I'm new to this repo, may I work on `math_tests.test_sqrt` first?

[2019-04-15 00:59] imos opened #6903 "Fix test flakiness"
There are many flaky tests, and leaving them as is not healthy for Chainer repository. I'd like to suggest they should be fixed. The following is the list of flaky tests (I may update this later).

- [x] #6841 chainer_tests/functions_tests/activation_tests/test_elu.py
  - Failure example: https://ci.preferred.jp/chainer.py37/2131/
- [x] #6904 chainer_tests/functions_tests/activation_tests/test_rre

[2019-04-15 01:10] imos opened #6904 "`test_rrelu` test is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py27and35/2279/
- Failure test: chainer_tests/functions_tests/activation_tests/test_rrelu.py
- Failure test case: `_ TestRReLU_param_3_{dtype=float16, shape=(), train=False}_use_chainerx_false__chainerx_device_None__use_cuda_true__cuda_device_1__use_cudnn_never__cudnn_determin

[2019-04-15 01:15] imos opened #6905 "`test_spatial_transformer_sampler` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py27and35/2070/
- Failure test: chainer_tests/functions_tests/array_tests/test_spatial_transformer_sampler.py
- Failure test case: `TestSpatialTransformerSamplerConsistencyWithCuDNN_param_0_{dtype=float16}.test_consistency_with_cudnn_cpu`
- Tolerance:
[code]

[2019-04-15 01:17] imos opened #6906 "`test_huber_loss` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py27and35/2312/
- Failure test: chainer_tests/functions_tests/loss_tests/test_huber_loss.py
- Failure test case: `TestHuberLoss_param_14_{double_backward_options={'eps': 0.01, 'atol': 0.1, 'rtol': 0.1}, forward_options={}, reduce='no', backward_options={'eps': 0.01, 'atol': 0.

[2019-04-15 01:19] imos opened #6907 "`test_tensordot` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py27and35/2328/
- Failure test case: `TestTensorDot_param_216_{gc_shape=(5, 6), axes=([1, 3, 2], [0, 1, 3]), a_dtype=float16, b_dtype=float16, a_shape=(5, 4, 2, 3), b_shape=(4, 3, 6, 2)}.test_tensordot_backward_gpu`
- Tolerance:
[code]

[2019-04-15 01:20] imos opened #6908 "`test_decorrelated_batch_normalization` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py27and35/2072/
- Failure test case: `TestDecorrelatedBatchNormalization_use_chainerx_false__chainerx_device_None__use_cuda_true__cuda_device_0__use_cudnn_never__cudnn_deterministic_false__autotune_false__cudnn_fast_batch_normalization_false__use_ideep_never_param_16_{ndim=1,

[2019-04-15 01:22] imos opened #6909 "`test_max_pooling_nd` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py37/2267/
- Failure test case: `TestMaxPoolingND_use_chainerx_false__chainerx_device_None__use_cuda_true__cuda_device_1__use_cudnn_never__cudnn_deterministic_false__autotune_false__cudnn_fast_batch_normalization_false__use_ideep_never_param_13_{cover_all=False, dtype=float16,

[2019-04-15 01:24] imos opened #6910 "`test_batch_renormalization` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example:  https://ci.preferred.jp/chainer.py37/2214/
- Failure test case: `BatchRenormalizationTest_param_21_{dtype=float64, ndim=2, test=False}.test_forward_multi_gpu`
- Tolerance:
[code]

[2019-04-15 01:25] imos opened #6911 "`test_group_normalization` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py27and35/2138/
- Failure test case: `GroupNormalizationTest_param_8_{dtype=float32, shape=(3, 8), groups=4}.test_backward_gpu_without_cudnn`
- Tolerance:
[code]

[2019-04-15 01:27] imos opened #6912 "`test_math` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py37/2259/
- Failure test: chainerx_tests/unit_tests/routines_tests/test_math.py
- Failure test case: `test_Tan_param_17_{contiguous=None, in_dtypes=('float16',), out_dtype='float16', input=2, shape=(2, 3)}[native:0]`
- Tolerance:
[code]

[2019-04-15 01:29] imos opened #6913 "`test_normalization` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py37/2261/
- Failure test: chainerx_tests/unit_tests/routines_tests/test_normalization.py
- Failure test case: `test_BatchNorm_param_0_{contiguous=None}_param_0_{decay=None}_param_0_{eps=2e-05}_param_2_{param_dtype='float64'}_param_2_{x_dtype='float64'}_param_1_{x_shape=(2, 3,

[2019-04-15 01:32] imos opened #6914 "`test_pooling` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py37/2131/
- Failure test: chainerx_tests/unit_tests/routines_tests/test_pooling.py
- Failure test case: `test_MaxPool_param_0_{cover_all=True}_param_3_{x_shape=(2, 3, 4, 4), ksize=(3, 3), stride=1, pad=0}[float16-cuda:0]`
- Tolerance:
[code]

[2019-04-15 01:58] hvy commented on #6423
Just sharing some information that we've stopped backporting routine PRs to v6, now that the master has been bumped to v7.0.0a1. That's first of all not how backports are defined but we noticed that it's also costly.

[2019-04-15 02:02] hvy commented on #6423
Thanks @kshitij12345 for pointing out that some routines are temporarily implemented using a NumPy/CuPy fallback mechanism in Python, that for which corresponding routine must be removed when implemented in C++. I updated the `How do you start implementing routines?` section to mention this.

[2019-04-15 03:33] Hakuyume commented on #6244
Thank you for fixing. However, ChainerCV still doesn't work well... I'm investigating.

[2019-04-15 03:51] lazykyama commented on #6708
Thanks for the attention for my tool and I'm really happy to see this issue. As mentioned, this functionality should be provided by Chainer itself. Let's discuss this topic here.

I'm attaching 2 images, first is before applying nvvp annotation and second is after applying the annotation.

<img width="479" alt="profiling_example_without_mark" src="https://user-images.githubusercontent.com/1679090/

[2019-04-15 04:10] hvy commented on #6914
Similar instability for Chainer's max pooling is fixed in https://github.com/chainer/chainer/pull/6917. Leave it for reference.

[2019-04-15 04:14] muupan commented on #5944
Does it still needs a discussion? The issue is that `GetItem` does not work as expected due to the lack of advanced indexing support.

[2019-04-15 04:23] asi1024 commented on #6912
Already fixed in #6798.

[2019-04-15 04:31] beam2d commented on #5944
I think advanced indexing should definitely be supported in ChainerX (either in a fallback or direct way). The expected behavior is:

- Passing a chainerx ndarray on the same device should work as advanced indexing.
- Basic indexing should work as is, and should be mixed with advanced indexing.
- Passing numpy/cupy ndarray on the same device does not need to work (the current fallback works in thi

[2019-04-15 04:42] lazykyama commented on #6708
To make it easy to analyse workloads, important hook timing are:
* before/after each iteration,
* before/after each forward/backward/update,
* before/after each layer.

In addition, IO pipeline and communication between GPUs should have corresponding markers. These are typical and it's helpful to analyze major bottlenecks if the makers are added.

[2019-04-15 04:59] asi1024 commented on #6912
@imos Can I close this issue?

[2019-04-15 05:01] beam2d commented on #5944
It looks https://github.com/chainer/chainer/pull/6769 contains the fallback fix for this issue.

[2019-04-15 06:12] #6904 closed

[2019-04-15 06:30] #6864 closed

[2019-04-15 07:37] beam2d opened #6921 "Estimations of speed and time to finish in `ProgressBar` are not robust"
The `ProgressBar` extension shows the estimations of the training speed (iterations per second) and the time to finish training. In the current implementation, both of them are estimated from the average time taken for the recent 100 iterations. This method is not robust against irregular bump of iteration time. In particular, the end of each epoch takes much more time to finish because of Evaluat

[2019-04-15 08:02] kshitij12345 opened #6923 "[chainerx] update Amin op registration"
The build is crashing due https://github.com/chainer/chainer/blob/1e3b666a2eb3c7d327ed059188a086313423da8f/chainerx_cc/chainerx/cuda/cuda_device/reduction.cu#L149

and

https://github.com/chainer/chainer/blob/1e3b666a2eb3c7d327ed059188a086313423da8f/chainerx_cc/chainerx/native/native_device/reduction.cc#L126

[2019-04-15 08:04] hvy commented on #6923
Should be fixed https://github.com/chainer/chainer/pull/6922.

[2019-04-15 08:19] lpf-gavin commented on #1087
the same problem occurred

[2019-04-15 08:28] grafi-tt commented on #5931
It's Python's bug. https://bugs.python.org/issue12851 PyBind11 requests `strides` field by `flags`, but the `flags` is ignored.

[2019-04-15 09:18] Hakuyume opened #6925 "ChainerMN's naive communicator does not work with cupy master"
[code]

The following `Dockerfile` can reproduce this error.
[code]

[2019-04-15 09:34] imos commented on #6912
Sure. I'll recreate an issue if the same issue happens for the same test case.

[2019-04-15 09:41] #6923 closed

[2019-04-15 09:44] hvy commented on #6923
Should be fixed now that https://github.com/chainer/chainer/pull/6922 is merged.

[2019-04-15 11:30] #6909 closed

[2019-04-15 15:13] #6876 closed

[2019-04-15 20:01] imos commented on #6912
It seems the test is still flaky in the master branch.

- Failure example: https://ci.preferred.jp/chainer.py37/2762/
- Failure test: chainerx_tests/unit_tests/routines_tests/test_math.py
- Failure test case: `test_LogSumExp_param_1_{keepdims=False}_param_1_{shape=(2,), axis=-1}_param_0_{in_dtypes=('float16',), out_dtype='float16'}[cuda:0]`
- Tolerance:
[code]

[2019-04-15 20:03] imos commented on #6912
FYI, this is another example:

- Failure example: https://ci.preferred.jp/chainer.py37/2758/
- Failure test case: `test_Min_param_105_{in_dtypes=('float16',), out_dtype='float16', is_module=False, shape=(4, 2), axis=-2}[cuda:0]`
- Tolerance:
[code]

[2019-04-16 00:18] lilaczhou commented on #1493
hello,when I used "ls -l /usr/lib/x86_64-linux-gnu/libcudnn*",it showed the below,the version of cudnn I wanted is 7.0.5,does it influence my use of cudnn,how should I solve it?Would you give me some help?
![image](https://user-images.githubusercontent.com/45725450/56173461-3e2f0680-6020-11e9-8162-52ee348a1692.png)

[2019-04-16 02:52] hvy commented on #6609
https://github.com/chainer/chainer/blob/master/tests/chainerx_tests/unit_tests/routines_tests/test_normalization.py#L106-L110

[2019-04-16 03:01] hvy commented on #6608
Closed by #6870 .

[2019-04-16 03:01] #6608 closed

[2019-04-16 07:15] toslunar commented on #6027
The issue is fixed by #6804.

[2019-04-16 07:15] #6027 closed

[2019-04-16 07:45] beam2d commented on #5408
@mitmul will work on this issue.

[2019-04-16 07:56] beam2d commented on #4481
We are recently observing this type of concerns after introducing ChainerX support to examples. I would like this issue to be resolved.

[2019-04-16 08:28] niboshi commented on #6837
The following features do not break backward compatibility. They don't necessarily have to be mentioned in the upgrade guide.

* `Device`/`Resident`/`to_device`
* `chainer.dataset.converter`

TODO:
* List up non-compatible changes since v6
* If there are many such changes, write about them. Otherwise, mention above topics.

[2019-04-16 08:35] beam2d commented on #6903
I changed the category to "test" because this issue itself is about fixing tests. Individual child issues may include bug fixes in which case they might be labeled "bug".

[2019-04-16 08:54] beam2d commented on #6921
Note after some offline discussions: another approach to stabilize the estimation of iter/sec is only measuring the updater part of the iteration (i.e., excluding the execution time of extensions). I'm wondering if this value is suitable for ProgressBar output, but it should certainly stabilize the value against irregular long extension calls.

The feature to get the execution time of updater itse

[2019-04-16 09:43] niboshi commented on #6837
From release notes:

* v6.0.0rc1
  - Deprecate old NCCL versions and related communicators (#6506)
    - Support of NCCL<2.3 is deprecated. We encourage users to use NCCL 2.3 or later ones.

* v6.0.0b3
  - Raise `NotImplementedError` if `Extension.__call__` is not overridden (#6095)
  - Fix `get_retained_{in/out}puts` to return `None` for `None` inputs/outputs (#6121)
  - Rename `chainerx` -> `chx

[2019-04-16 23:33] Hakuyume commented on #6925
I could reproduce this error without chainer/chainermn.

[2019-04-16 23:33] #6925 closed

[2019-04-17 02:52] Hakuyume commented on #6925
FYI: https://github.com/cupy/cupy/issues/2148

[2019-04-17 03:09] hvy commented on #6848
- The log contains a lot of duplicates. We should find out exactly how many there are. Fix them in separate PRs if there are too many, otherwise in a single PR that also enables the clang-tidy check on headers.
- Certain errors can be ignored, such as the preferred use of `variant` when accessing union members.
- Should find out why there are duplicates. Are included headers also checked? If so, a

[2019-04-17 06:25] nattochaduke opened #6955 "SpectralNormalization causes error when gpu != 0"
Link with SpectralNormalization, transferred to gpu by .to_gpu(device) and device is other than 0, causes cuda error when called.

Reproducing code and error message are as follows.

[code]

[code]

When device == 0, that snippet does not raise error.
Further,
[code]
This neither raises error.

Platform: Linux-3.10.0-957.10.1.el7.x86_64-x86_64-with-Ubuntu-18.04-bionic
Chainer: 6.0.0rc1
NumPy: 1.16

[2019-04-17 06:51] crcrpar commented on #6955
Thank you for reporting, and I appreciate your great observation with the current device setting especially.

Also, I really feel sorry to bother you. 😢

As a matter of fact, I already worked on this problem in https://github.com/chainer/chainer/pull/6655, and the PR will be in the next releases: v7.0.0a and v6.0.

Fortunately(?), SpectralNormalization linkhook is implemented in one file, so **one

[2019-04-17 07:02] niboshi commented on #6873
Fixed by #6926

[2019-04-17 07:02] #6873 closed

[2019-04-17 07:04] kmaehashi commented on #6955
@crcrpar  Does the issue already be solved? I still see the same issue using the latest master branch.
I think it's we should trigger link hook functions in context of its Link.device which owns the hook.

[2019-04-17 12:57] Hakuyume commented on #6244
I confirmed this issue was fixed in the master branch. Thank you!

[2019-04-17 12:57] #6244 closed

[2019-04-17 21:03] imos opened #6966 "`test_group_normalization` is flaky"
This is part of https://github.com/chainer/chainer/issues/6903 effort.

- Failure example: https://ci.preferred.jp/chainer.py37.gpu/3099/
- Failure test case: `GroupNormalizationTest_param_8_{dtype=float32, groups=4, shape=(3, 8)}.test_backward_gpu`
- Tolerance:
[code]

[2019-04-17 21:04] imos commented on #6966
Sorry, but this was duplicated, so I will close this issue.

[2019-04-17 21:04] #6966 closed

[2019-04-18 01:50] hvy commented on #6692
Renamed in https://github.com/chainer/chainer/pull/6865.

[2019-04-18 01:51] hvy commented on #6692
Renamed "op" to "kernel" in https://github.com/chainer/chainer/pull/6944.

[2019-04-18 02:32] kmaehashi commented on #5896
We'll introduce this feature in CuPy v7.
https://docs-cupy.chainer.org/en/latest/reference/memory.html#limiting-gpu-memory-usage

[2019-04-18 02:32] #5896 closed

[2019-04-18 02:51] #1624 closed

[2019-04-18 02:51] #3383 closed

[2019-04-18 02:51] #4329 closed

[2019-04-18 05:34] #6133 closed

[2019-04-18 06:43] mitmul commented on #6818
We discussed this offline and decided to start from trying sphinx-gallery for the `train_mnist.py` example first. Then we'll see how good the approach is and discuss again the final way to deal with this issue. cc/ @Crissman

[2019-04-18 07:20] shmurai opened #6974 "add an extension which summarizes values of specified observation from all nodes"
Currently, observation values such as "main/loss" are not synchronized between nodes.
Thus, in the logs, we can only find the value of such observations on the master node.
It will be useful to add an extension which reports the summary (e.g. average) of specified observation from all nodes.
This will also help us to support early stopping in ChainerMN (https://github.com/chainer/chainer/issues/66

[2019-04-18 09:19] niboshi opened #6983 "Support ChainerX in Variable.addgrad"
Required in MNIST data parallel example (#6857)

[2019-04-18 09:51] hvy commented on #6907
Hm, I cannot reproduce this locally. 🤔

[2019-04-18 10:13] niboshi opened #6986 "Support ChainerX in F.GetItem backward"
`GetItemGrad` does not suport it yet.

Related: #5944

[2019-04-18 21:45] crcrpar commented on #6955
As this change shows, functions that directly manipulate `ndarray`s are invoked in the context.
https://github.com/chainer/chainer/pull/6655/files

Do you mean something like this?
https://github.com/chainer/chainer/compare/master...crcrpar:z-call-hooks-on-device?expand=1

[2019-04-19 01:39] #6875 closed

[2019-04-19 01:43] #6894 closed

[2019-04-19 03:25] niboshi opened #7000 "Fix operations between chainerx.ndarray and numpy scalars"
[code]

[2019-04-19 05:51] hvy commented on #6983
https://github.com/chainer/chainer/pull/6979 has now been merged.

[2019-04-19 07:31] #6914 closed

[2019-04-19 10:18] toslunar opened #7005 "requires_grad depends on backend"
Ref: #5454.

* Code to reproduce
[code]

[2019-04-19 12:58] #7000 closed

[2019-04-22 02:25] #6838 closed

[2019-04-22 03:29] toslunar commented on #4530
The safety has become the default of NumPy >= 1.16.3.
https://github.com/numpy/numpy/releases/tag/v1.16.3

`allow_pickle` keyword which now defaults to `False` in response to
`CVE-2019-6446 <https://nvd.nist.gov/vuln/detail/CVE-2019-6446>`_.

[2019-04-22 03:37] #6905 closed

[2019-04-22 06:24] toslunar commented on #4854
Note for v6:
- `to_device` is available since ChainerX is merged.
- Just as suggested here, `to_device` accepts int since v6.0.0rc1 (#6394).

[2019-04-22 07:16] asi1024 commented on #6912
- Failure example: https://travis-ci.org/chainer/chainer/jobs/522915728#L3603
- Failure test case: `test_Abs_param_24_{shape=(), contiguous='C', out_dtype='float32', input='random', in_dtypes=('float32',)}[native:0]`

[2019-04-22 18:25] suhaslohit commented on #5996
@zhangxiaodi Were you able to fix this? I am seeing the same errors in the code I am using.Thanks.

[2019-04-23 02:33] hvy commented on #6848
Fixed by https://github.com/chainer/chainer/pull/6441.

[2019-04-23 02:33] #6848 closed

[2019-04-23 02:42] hvy commented on #6423
Just a heads up but we should to for each ChainerX routine that has a corresponding Chainer function (`chainer.functions.*`) also override `forward_chainerx` in that Chainer function. This should improve the performance of the Chainer function when used with ChainerX since fallback is avoided.

[2019-04-23 04:11] #6986 closed

[2019-04-23 04:12] hvy commented on #5944
#6986 has now been fixed by https://github.com/chainer/chainer/pull/6991. I think we can close this issue as fixed as well?

[2019-04-23 05:32] muupan commented on #5944
Thank you so much for fixing the issue!

[2019-04-23 05:32] #5944 closed

[2019-04-23 10:37] hvy commented on #6249
It's also an issue for fp32.

[code]

[2019-04-23 10:39] hvy commented on #6249
I'll create a separate issue.

[2019-04-23 10:41] hvy opened #7038 "ChainerX native reduction is unstable"
Reduction in ChainerX with the native device is unstable for e.g. fp32.

[code]

[2019-04-23 10:41] hvy commented on #7038
See also https://github.com/chainer/chainer/issues/6249.

[2019-04-23 11:17] kmaehashi commented on #6878
If you need to use Chainer v1.14.0, please refer to the installation instructions as follows:
https://docs.chainer.org/en/v1.14.0/install.html
The latest supported versions are CUDA 7.5 and cuDNN v5.1.

Please take a look at our upgrade guide. Code written for Chainer v1 needs some modifications to run in Chainer v2 or later.
https://docs.chainer.org/en/latest/upgrade.html

[2019-04-23 22:08] Harshan01 commented on #6654
PR Merged.

[2019-04-23 22:08] #6654 closed

[2019-04-24 03:58] grafi-tt commented on #7038
FYI NumPy implements pairwise summation.

- https://github.com/numpy/numpy/pull/3685
- https://en.wikipedia.org/wiki/Pairwise_summation

[2019-04-24 07:39] crcrpar opened #7040 "[RFC] Refactor `Parameter` and `Link` initialization"
dtype specification is allowed via `CHAINER_DTYPE` environment variable or `chainer.config.dtype` for all the parameter used in that environment / program, and `chainer.Initializer`s for each `chainer.Link`.

In addition to this, `chainer.Link`s such as `L.Linear` and `L.Convolution2D` looks like we can set the dtype of a link via parameter initialization arguments like `initialW` and `initial_bia

[2019-04-24 07:50] #5874 closed

[2019-04-24 08:11] crcrpar opened #7041 "[RFC] Implement `Link.cast(dtype)` method"
This is one of 2 following issues to #7040.

To make it simpler and easier to specify/change the dtype of `chainer.Link` / `chainer.Chain`,
I want to  change `chainer.Initializer`s and related functions not to support dtype argument, and at the same time,
I want a method that casts all the parameters to the specific dtype including `chainer.mixed16`.

By this change, there will be only 2 ways to s

[2019-04-24 08:23] crcrpar opened #7042 "[RFC] Implement `Link.from_params(W, b, *args, **kwargs)`"
This is the second issue for #7040.

Currently, we can pass `ndarray`s that can be `chainer.Parameter` w/o sampling from some distribution or creation and filling of an array.

However, if parameters or ndarrays for a link are available before the link's construction,
there's no need to specify parameter-related arguments like in_size, out_size, ksize because we can easily infer those values from

[2019-04-24 16:25] #4777 closed

[2019-04-24 16:25] #2860 closed

[2019-04-26 04:31] shinh opened #7050 "No type coercion in `chainerx.stack`"
[code]

[2019-04-26 08:37] hvy commented on #6423
`(Python) scalar / chx.ndarray` is required for `GradientClipping`.

[2019-04-26 08:54] seiyab opened #7057 "[Bug] ValueError: Function `...` (BernoulliLogProb) has a bug."
## Overview
When I calculate a gradient of `log_prob` of Bernoulli distribution, I got error message `(BernoulliLogProb) has a bug.`.

## Conditions
  - Chainer version ... 6.0.0rc1
  - CuPy version ... I don't use CuPy.
  - Numpy version ... 1.16.2
  - OS/Platform Linux-4.9.125-linuxkit-x86_64-with-Ubuntu-18.04-bionic
  - CUDA/cuDNN version ... I don't use CUDA/cuDNN.

## Code to reproduce
[code]

[2019-04-27 16:15] crcrpar commented on #7041
This is one naive implementation: https://github.com/crcrpar/chainer/commit/0ac25ee46948f75173572b3f6a66e75efe51a624.

[2019-04-27 16:29] crcrpar commented on #7042
The draft implementation is https://github.com/crcrpar/chainer/commit/a9327944423512d099835f87111c937969155e57.

[2019-04-29 14:29] seiyab commented on #7057
I'll send a pull request.

[2019-05-06 09:42] MannyKayy commented on #4755
bump

[2019-05-06 11:43] niboshi opened #7071 "Performance regression due to ChainerX `_setitem` and `_getitem` check for connected arrays"
Reported at https://github.com/chainer/chainer/pull/5754#issuecomment-486501315 by @mingxiaoh:

[2019-05-06 12:58] #5953 closed

[2019-05-06 14:48] hvy commented on #6162
Is this issue solved with the recently introduced `*GradKernel`s? E.g. https://github.com/chainer/chainer/blob/master/chainerx_cc/chainerx/kernels/pooling.h#L108.

[2019-05-07 06:25] niboshi opened #7072 "Issues in `TestBernoulliLogProb`"
https://github.com/chainer/chainer/blob/6b0877d/tests/chainer_tests/distributions_tests/test_bernoulli.py#L118
https://github.com/chainer/chainer/blob/6b0877d/tests/chainer_tests/distributions_tests/test_bernoulli.py#L129

* It directly tests a private function `_bernoulli_log_prob`.
* In `check_forward`, it only calls the function without any check.

I'm not sure those are necessary or not, but a

[2019-05-07 07:48] #7050 closed

[2019-05-07 08:29] #7038 closed

[2019-05-08 06:47] iwiwi commented on #4556
I think it would be nice to have this feature in Chainer. May I reopen this issue? Please close if inappropriate. Thanks!

[2019-05-08 08:35] keisukefukuda commented on #5740
I checked (1) MNIST and (2) Communicator test for Open MPI versions.

[code]
`-`: OK

Basically, the problem was fixed in `3.0.3` and `3.1.3` for `3.0` and `3.1` branches respectively.

BTW, Open MPI 4.x is not supported by mpi4py. Thus, I will create a PR to update docs to explain the fact above.

[2019-05-08 08:43] takagi commented on #6576
I've reproduced your result, will look into it further.

[2019-05-08 09:08] niboshi opened #7084 "Use pip for installing Chainer in CIs"
In some CIs we install Chainer with `python setup.py install`, which causes pre-release dependencies to be installed (pypa/setuptools/issues/855).
This makes ours CIs unstable (like #7083).
 We should probably always use pip for installing chainer.

[2019-05-08 09:10] syoyo opened #7085 "[chainerx_cc] Compilation failure in array_reprt.cc::operator<< on MSVC(VS2017)"
* Conditions
  - Chainer version `master` 2cb00ecee2e9902a68a3a2525af975d8684e03ee
  - OS/Platform Windows 10 + Visual Studio 2017/2019
* Code to reproduce

For some reason, MSVC dislike `[&]` when compiling `array_reprt.cc::operator<<`

https://github.com/chainer/chainer/blob/master/chainerx_cc/chainerx/array_repr.cc#L260

and gives the following errors.

[code]

Possible solution is explicitly l

[2019-05-08 09:13] #5903 closed

[2019-05-08 16:05] #6912 closed

[2019-05-08 22:48] #6772 closed

[2019-05-08 22:53] niboshi commented on #6623
Fixed via #6740

[2019-05-08 22:53] #6623 closed

[2019-05-09 01:57] niboshi commented on #6903
https://travis-ci.org/chainer/chainer/jobs/529891620
[code]

[2019-05-09 03:05] keisukefukuda opened #7093 "pytest does not detect Open MPI's hang issue on MNIST"
The test does not detect the GPU-direct hang issue of Open MPI

As described in #5740 and #7086 , some Open MPI versions have bugs that cause ChainerMN MNIST example to hang. However, the test suite of ChainerMN ( `communicator_test` in particular) does not detect the problem.

Actually, in my experiments
* MNIST hangs
* `communicator_test` passes
* `gpudirect_bug.c` fails with an error in MPI_Ini

[2019-05-09 03:34] durswd opened #7094 "there is not a document about CHAINERX_ENABLE_BLAS"
there is not a document about CHAINERX_ENABLE_BLAS.
if BLAS is not found, install fails in default settings

[2019-05-09 05:05] niboshi commented on #6612
Discussed with @beam2d

By simply leaving array nodes, that would result in unwanted consequences.
Say we apply `astype` to an array twice like `float32` -> `int32` -> `float32`, and do some computation after that.

[code]

`a3` and `a4` would be connected by a computational graph despite we never want to calculate `a3`'s grad (since we didn't call `a3.require_grad()`). This would be suboptimal in

[2019-05-09 05:23] kwasnydam opened #7096 "[BUG] Wrong initialization of the Linear link weights when called with n_batch_axes>1"
# **Overview**
When creating the _Linear_ link without specifying the __input_size__ in the constructor and then calling the link with the parameter __n_batch_axes__ > 1, the weight matrix is initialized with a wrong shape and causes an error.

# **Conditions**
Platform: Windows-7-6.1.7601-SP1
Chainer: 5.4.0
NumPy: 1.15.4
CuPy: Not Available
iDeep: Not Available

# Code to reproduce
[code]

# **Er

[2019-05-09 05:42] kuenishi commented on #6670
- maybe I had a case I needed `scatter_obj` for re-inventing `scatter_dataset`

[2019-05-09 06:37] niboshi opened #7097 "Document framework utilities before concrete classes"
In some pages of documentation, framework utility classes are documented *after* it's concrete subclasses. The order should be reversed.

https://docs.chainer.org/en/v6.0.0rc1/reference/functions.html
https://docs.chainer.org/en/v6.0.0rc1/reference/links.html
https://docs.chainer.org/en/v6.0.0rc1/reference/distributions.html
https://docs.chainer.org/en/v6.0.0rc1/reference/optimizers.html
https://d

[2019-05-09 06:44] durswd commented on #7094
https://github.com/chainer/chainer/pull/7098

[2019-05-09 06:53] #5485 closed

[2019-05-09 08:03] hvy opened #7100 "`test_thin_stack.py` is failing"
The following test file in the sentiment analysis example fails. https://github.com/chainer/chainer/blob/master/examples/sentiment/test_thin_stack.py

It is a part of an example and is thus not tested by the CI. I have not yet investigated the cause nor the effects but the loss on the training data seems to decrease.

[2019-05-09 08:45] #6622 closed

[2019-05-09 08:45] Harshan01 commented on #6622
PR Merged.

[2019-05-09 09:17] crcrpar commented on #6158
Seems to have been fixed by #6253, let me close.

[2019-05-09 09:17] #6158 closed

[2019-05-09 09:26] #5740 closed

[2019-05-09 10:42] durswd commented on #7085
fixing now
https://github.com/chainer/chainer/pull/7108

[2019-05-10 01:23] crcrpar commented on #5964
This shouldn’t be closed, IMO.

[2019-05-10 13:08] #5703 closed

[2019-05-11 08:57] keisuke-umezawa commented on #2182
bump

[2019-05-13 04:25] toslunar commented on #5422
I'd rather not increase the difference of the behavior between the cases the output variable is alive or not.  For example, it may depend on iterations whether the GC runs.

[2019-05-13 07:45] #6311 closed

[2019-05-13 12:33] fiarabbit commented on #5964
@crcrpar I agree with your opinion, because of the recent post in SO(https://stackoverflow.com/questions/56111935/regression-with-chainer).

[2019-05-14 03:05] takagi commented on #6576
**1k training examples, BoW**

Task|Test accuracy|Test error rate (%)
-|-|-
1|0.992|0.8
2 | 0.243 | 75.7
3 | 0.224 | 77.6
4 | 0.674 | 32.6
5 | 0.766 | 23.4
6 | 0.482 | 51.8
7 | 0.766 | 23.4
8 | 0.788 | 21.2
9 | 0.599 | 40.1
10 | 0.475 | 52.5
11 | 0.88 | 12
12 | 0.988 | 1.2
13 | 0.923 | 7.7
14 | 0.679 | 32.1
15 | 0.495 | 50.5
16 | 0.465 | 53.5
17 | 0.512 | 48.8
18 | 0.554 | 44.6
19 | 0.09 | 91
20 |

[2019-05-14 03:29] takagi commented on #6576
@nuric I've researched the test error rate for each task with 1k training examples and BoW sentence representation on Chainer. I show the result above, following test error rates on the paper.

I can read that task 2, 6, 14 and 20 have low reproducibility but I'm not sure how close the paper's result should be fine. Can you basically agree with the table?

[2019-05-14 03:47] niboshi commented on #6837
The upgrade guide already has some content.

[2019-05-14 03:47] #6837 closed

[2019-05-14 06:25] corochann commented on #5964
JFYI: chainer chemistry supports `Regressor` class which additionally supports `predict` method.
https://github.com/pfnet-research/chainer-chemistry/blob/master/chainer_chemistry/models/prediction/regressor.py

[2019-05-14 07:22] hvy opened #7133 "`F.copy` may return a view but this is not mentioned in the documentation"
`F.copy` won't create a copy of the underlying array in case the specified target `dst` device is the device to which the input `x` already belongs.

This is not documented.
https://docs.chainer.org/en/stable/reference/generated/chainer.functions.copy.html#chainer.functions.copy

[2019-05-14 08:29] hvy commented on #7133
Discussed offline that it's trivial to fix, so I'll do it.

[2019-05-14 09:03] hvy commented on #7100
We briefly discussed that it might be worth considering running theses tests in the CI environments.

[2019-05-14 09:04] hvy commented on #7133
Addressed in #7135.

[2019-05-14 09:31] niboshi opened #7136 "Variable.addgrad with mismatched dtype might not cause error"
Version: current mater 8565bad9334f6cc32cd70a9d79fd42f74eeec3c2
[code]

An error is expected but it results in the following output (indicating mismatched gradient dtype)
[code]

If the comment-out is removed, it becomes an error:
[code]

[2019-05-14 09:33] niboshi commented on #7136
It seems the `Link` test relies on this behavior (probably unintentionally) :
https://github.com/chainer/chainer/blob/v6.0.0rc1/tests/chainer_tests/test_link.py#L543

`self.link.u.dtype` is `float64` whereas `l.u.dtype` is `float32`.

[2019-05-14 10:41] nuric commented on #6576
@takagi I agree, we are observing a similar trend with our implementation as well. Especially tasks 2, 6 and 14 but if we the run [reference implementation](https://github.com/facebook/MemNN/tree/master/MemN2N-babi-matlab) on task 2 with BoW and no linear start, we get:

Run 1:
[code]

Run 2:
[code]

Run 3:
[code]

So it seems the reference implementation is producing consistent results with perha

[2019-05-14 12:21] crcrpar commented on #6190
@takagi
I do not think this issue deserves `stale` because https://github.com/chainer/chainer/pull/6855 has been merged.
Rather this has to be just closed or kept open.

What do you think?

[2019-05-15 04:44] asi1024 opened #7143 "math.cc is large"
Split large routines/math.cc into several files.

- [x] arithmetic.cc #7415
  - chainerx.negative
  - chainerx.add
  - chainerx.subtract
  - chainerx.multiply
  - chainerx.divide
  - chainerx.reciprocal

- [x] explog.cc #7317
  - chainerx.exp
  - chainerx.log
  - chainerx.log10

- [x] reduction.cc #7270
  - chainerx.sum
  - chainerx.logsumexp
  - chainerx.logsumexp
  - chainerx.log_softmax

- [x]

[2019-05-15 05:33] #6759 closed

[2019-05-16 04:09] #5980 closed

[2019-05-16 05:34] crcrpar opened #7154 "[enhancement] <BLANKLINE> is not handled correctly in docs"
`Example`s in documentation (both stable and latest) display a ton of `<BLANKLINE>`

Search results of <BLANKLINE>:
- https://docs.chainer.org/en/stable/search.html?q=%3CBLANKLINE%3E&check_keywords=yes&area=default
- https://docs.chainer.org/en/latest/search.html?q=%3CBLANKLINE%3E&check_keywords=yes&area=default

One example is [`depth2space`](https://docs.chainer.org/en/latest/reference/generated

[2019-05-16 05:37] kmaehashi commented on #7154
It seems spec of Sphinx (?) has been changed at some point. It was OK in v4 docs.
https://docs.chainer.org/en/v4.4.0/reference/generated/chainer.functions.get_item.html?highlight=blankline

[2019-05-16 05:41] kuenishi commented on #6670
I had a case for supporting more operators in `allreduce_obj()`  for calculating max and min.

[2019-05-16 07:34] #7094 closed

[2019-05-16 09:36] #6185 closed

[2019-05-16 14:13] crcrpar commented on #7154
1.8.0 -> 1.8.2 four months ago.

[2019-05-17 08:22] hvy opened #7172 "`Link.serialize` does not support ChainerX"
`Link.serialize` assumes that the ndarrays held by the link are either NumPy or CuPy ndarrays and breaks when they're ChainerX ndarrays.

#### Relevant code
https://github.com/chainer/chainer/blob/master/chainer/link.py#L661-L664

#### Reproduction
[code]

[2019-05-17 09:13] #7085 closed

[2019-05-17 09:24] #7133 closed

[2019-05-17 09:33] syoyo commented on #7085
Awesome! Thank you!

[2019-05-17 10:44] #6983 closed

[2019-05-17 16:07] niboshi opened #7177 "Emit warning if compiled in Debug mode"
In debug mode ChainerX runs significantly slower.
However sometimes it's difficult notice that.

[2019-05-17 16:43] niboshi opened #7180 "chainer.print_runtime_info is not documented"
`chainer.print_runtime_info` is not documented.

[2019-05-18 03:28] #5963 closed

[2019-05-19 12:24] gwtnb opened #7187 "ConvolutionND fails with CUDNN_NOT_SUPPORTED on some conditions"
ConvolutionND fails with CUDNN_NOT_SUPPORTED on some conditions.

environment:
- Ubuntu 18.04
- CUDA: 10.1
- cuDNN: 7.5.0
- CuPy: https://github.com/cupy/cupy/tree/bdbd176ef9c3df47ff3337cd5e26f066196b4e90
- Chainer: https://github.com/chainer/chainer/tree/80d2c96cb293a8529e2ad02526fa9aac7cb5bbb0

code:

[code]

[2019-05-19 14:03] schliffen commented on #5441
I have the same problem in using chainer with GPU

[2019-05-20 03:14] niboshi opened #7190 "Make `Variable.grad.setter` call `arr.require_grad()` for ChainerX array in order to align the double-backprop behavior with NumPy/CuPy"
Original issue: The following code fails at the 2 commented lines. It succeeds for `numpy` and `cupy`.

[code]

[2019-05-20 06:16] kmaehashi commented on #7096
Thanks for reporting this issue! It will be addressed in #7167.

[2019-05-20 06:48] niboshi commented on #7190
`y.grad_var.requires_grad` should be `True` after `y.grad = gy_arr`.

[2019-05-20 07:37] niboshi opened #7200 "ChainerX example support: image_captioning: train.py"

[2019-05-20 07:55] niboshi opened #7201 "Call `matlotlib.use('Agg')` in examples whenever `PlotReport` is used"
Some examples cannot be run in remote shell because of lack of the call.

[2019-05-20 08:02] hvy commented on #6612
Clarification of a snippet from the comment above:

This is due to the fact that we don't want to raise an error when backward is called on such arrays (not very user friendly). Errors are otherwise raised when calling backward on arrays without array nodes.

With that in mind, the bookkeeping required in order to correctly raise/not raise the error might be complex and it'd be worth considering n

[2019-05-20 09:28] niboshi opened #7205 "ChainerX example support: image_captioning: predict.py"

[2019-05-20 10:51] #7177 closed

[2019-05-20 11:49] niboshi commented on #7201
`matplotlib` is not strictly required in some examples, but I think we can make it a strict requirement.

[2019-05-20 21:42] #7172 closed

[2019-05-20 22:58] #6657 closed

[2019-05-20 23:00] #6598 closed

[2019-05-20 23:03] niboshi commented on #6196
@kmaehashi Is this ongoing?

[2019-05-21 06:49] niboshi opened #7220 "Support ChainerX in all examples"
We have been working on supporting new device specifiers in examples (#6661) and it's almost finished, but some examples do not support ChainerX yet, due to lack of ChainerX support in some Chainer features.

This is a tracking issue for those examples and features that need fixes to support ChainerX.

### Examples that do not support ChainerX yet
Note that for each example, only one feature that

[2019-05-21 09:34] niboshi opened #7221 "Support ChainerX in `Variable.copydata`"

[2019-05-21 13:00] niboshi opened #7230 "Easier way to observe optimizer hyperparameters"
There is a trainer extension `chainer.training.extensions.observe_lr` for observing a learning rate, but not for general hyperparameters.
In order to observe other hyperparameters, we have to write something like this:

[code]

This is not something ordinary users would like to write.
I suggest adding more easy-to-write interface, and perhaps deprecate `observe_lr`.

Possible options:

1. Update `

[2019-05-22 01:01] niboshi opened #7232 "Support ChainerX in `MultiprocessParallellUpdater`"
Ref. #7220

[2019-05-22 02:19] #5934 closed

[2019-05-22 03:15] niboshi commented on #6903
https://jenkins.preferred.jp/job/chainer/job/chainer_pr/889/TEST=chainer-py3,label=mn1-p100/console

[code]

[2019-05-22 04:07] niboshi commented on #7232
#6000

[2019-05-22 04:07] #7232 closed

[2019-05-22 04:10] niboshi commented on #6000
`MultiprocessParallelUpdater` is dependent on CUDA, in both implementation and design (e.g. `MultiprocessParallelUpdater.available()`).
We need an entirely new class for supporting ChainerX.

[2019-05-22 04:46] #7100 closed

[2019-05-22 04:46] niboshi opened #7237 "Output is cluttered in static graph optimizations examples"
Probably related to #5451.
Static graph feature prints debug logs to standard output. That interferes with progress bars.

[code]

[2019-05-22 05:25] niboshi opened #7239 "`Link.device` is inconsistent after `to_gpu`"
### Code
[code]

### Output
[code]

This is because `to_gpu` does not transfer arrays if they're already on GPU (regardless of devices).
Because of this behavior, it's impossible to assume arrays are on the same device after `to_gpu`, which is not the case in `to_device`.
One possible solution is to traverse the tree again after `to_gpu` to check the devicies, and set `device` to `None` if multipl

[2019-05-22 05:34] niboshi opened #7240 "Include `cudnn.h` in cupy wheel"
Required before #7244

- [x] Merge https://github.com/cupy/cupy/pull/2208
- [x] Merge https://github.com/cupy/cupy-release-tools/pull/35

[2019-05-22 05:45] beam2d commented on #6000
How about supporting it for CUDA backend?

[2019-05-22 06:29] asi1024 opened #7241 "`test_indexing` is flaky"
- Failure example: https://jenkins.preferred.jp/job/chainer/job/chainer_pr/887/TEST=CHAINERX_chainerx-py3,label=mn1-p100/console
- Failiure test case: `test_Where_param_6_{condition_dtype='float32'}_param_11_{in_dtypes=('float16', 'float16'), out_dtype='float16'}_param_4_{cond_shape=(4, 5), x_shape=(3, 4, 1), y_shape=(1, 5)}[cuda:0]` (backward)
- Tolerance:
[code]

[2019-05-22 07:03] hvy commented on #6000
That sounds fair assuming we want `MultiprocessParallUpdater` to support the new devices as arguments.

[2019-05-22 07:08] niboshi commented on #6000
That should work, but only as long as `chainer` on `chainerx` depends on `cupy`.

[2019-05-22 11:01] niboshi opened #7244 "Make ChainerX able to build using cuDNN (library/header) included in cupy wheel, by manually specifying the paths"
Required to fix #5844

[2019-05-22 14:16] niboshi commented on #7201
Note:  latest versions of matplotlib do not require `matplotlib.use('Agg')`, but many users may still use older versions.

[2019-05-23 05:51] keisukefukuda opened #7253 "Refactor ChainerMN examples"
ChainerMN now has it's own `examples` directory. There are duplicate code, in particular model definitions. We can move ImageNet and CIFAR examples to Chainer's `examples` directory and rename them as `train_imagenet_multi.py` etc.

[2019-05-23 05:53] toslunar opened #7255 "`L.BatchRenormalization` does not recompute forward correctly"
Batch Renormalization uses values of running mean and running variance in forward, unlike Batch Normalization just updates statistics.

To fix the issue, `L.BatchRenormalization.forward` should use the running statistics here: https://github.com/chainer/chainer/pull/5557/files#diff-d4ceca1eba0c30875cd23de80d438b78R71

[2019-05-23 06:08] takagi commented on #6576
Hmm, do you have idea to implement time embeddings and `randomize_time` to Chainer? I'm currently not sure about them and need to understand them first.

[2019-05-23 06:08] niboshi commented on #6612
After discussion, we decided to make the implementation simpler by ceasing errors when backward is called from a non-backprop-required-array.

* The error was intended to notify users that they forgot calling `ndarray.require_grad()`.
* If ChainerX will introduce something like `chainer.Link` in Chainer, the problem will be gone for parameters. `Link` will automatically call `ndarray.require_grad(

[2019-05-23 09:01] takagi commented on #6168
On this issue, I made a table that indicates if the examples work with FP16 and fixed ones that caused some errors as the dtype mismatch (except ones using L.NStepLSTM). Now I think of what to address this issue further to reasonably close.

- Can we close this issue when it will cause no errors on dtype, even if some examples will result NaNs with FP16?
- Should we implement additional NaN check

[2019-05-23 12:09] justusschock opened #7264 "[Enhancement] DataParallel without trainer"
Hi,
I've implemented a version of DataParallel, which automatically handles the following things:

* replication of the model across different devices
* data scattering across thoose devices
* the gradient accumulation before optimizer update
* the update of all replicated parameters after the optimizer step

My implementation is based on the [DataParallel Example without a trainer](https://docs.c

[2019-05-23 15:02] crcrpar commented on #7264
+1 for this and a PR for that will be really helpful even if not merged.

[2019-05-24 02:35] niboshi opened #7272 "Make `chx.backward` not cause error even if backprop is not required"
Context: https://github.com/chainer/chainer/issues/6612#issuecomment-495080834

[2019-05-25 10:34] niboshi opened #7279 "Trainer extension name is altered even if explicitly given"
`Trainer.extend()` implementation generates an extension name that does not conflict with existing extensions.
It's so even if the name is explicitly given by the user.
That means there's no way for the user to control the name (i.e. no way to call `Trainer.get_extension()`), unless he has a control of all the extension names.

Possible fixes:

1. Raise an error if an explicitly given name causes

[2019-05-25 10:46] niboshi commented on #7279
One problem is how we should treat names retrieved from `extension.name`. Should they be considered as explicitly given?

[2019-05-27 05:18] superhez opened #7286 "Is any generated date&time related info included in the body of a trained model?"
Could anyone tell me if there is any generated date&time related information included in the body of a trained model? If there is, how to read it out? Thanks.

[2019-05-27 07:23] #7201 closed

[2019-05-27 07:47] niboshi commented on #7221
Fixed via #7226

[2019-05-27 07:47] #7221 closed

[2019-05-27 09:54] mitmul commented on #5076
This PR has been merged in CuPy, so the status seems to have been progressing
https://github.com/cupy/cupy/pull/1885

[2019-05-27 10:50] niboshi opened #7291 "Support new device specifiers in `train_imagenet_data_parallel.py`"

[2019-05-28 05:42] #7205 closed

[2019-05-28 05:51] niboshi commented on #6000
We are not going to fix `MultiprocessParallelUpdater` as it's not trivial. We will make ChainerMN work with ChainerX instead.

[2019-05-28 06:39] #7096 closed

[2019-05-28 10:19] nuric commented on #6576
I thought time embeddings are just implemented by `EmbedID` as usual. The `randomize_time` seems to be a pre-process step that adds empty *sentences* that act as noise so the order of the sentences are not fixed during training. But the important bit is the attention needs to mask those entries out so the model cannot attend to the injected noise memory slots. I'm not sure if this alone would repr

[2019-05-28 10:48] aonotas opened #7304 "CUDNN_STATUS_BAD_PARAM raised when dilate=0 in L.Convolution2D"
The sample code I tried:
[code]

result:
[code]

[2019-05-28 10:53] aonotas commented on #7304
The default `dilate = 1`, we cannot use `dilate  = 0` ?

[2019-05-28 10:56] kmaehashi commented on #7286
Currently such record is not included in the model. May I ask for what purpose did you need it?

[2019-05-28 11:02] kuenishi opened #7305 "Strict scatter_dataset and more flexible multinode evaluator"
The rationale behind https://github.com/chainer/chainercv/pull/868 is

- Current `scatter_dataset` implicitly appends duplicate data for odd number of test dataset to communicatgor size
- Some evaluators does not allow naive summation or average of results of scattered test data

The case above is calculating standard mAP in object detection but not easy with current MultiNodeEvaluator.

We have t

[2019-05-28 11:34] kmaehashi commented on #7187
Maybe #7304 should be taken care too.

[2019-05-28 11:56] niboshi opened #7307 "Add `chainer.as_array` test"
`chainer.as_array` has been added: #7252, but I forgot to mention unit tests.

[2019-05-28 14:42] iwiwi commented on #7305
FYI: duplicate with the former one https://github.com/chainer/chainermn/issues/274

[2019-05-29 01:03] corochann opened #7309 "`chainer.get_device(10)` does not cause error"
Testing under chainer==6.0.0 with chainerx built and cupy installed.
Testing environment has only 1 GPU.

[code]

When we try to get GPU device with id more than allowed, the behavior is different between cupy & chainerx cuda device.
 - cupy: does not raise error
 - chainerx cuda: raise error

I think raising error is more convenient for users. How do you think?

[2019-05-29 01:14] corochann opened #7310 "`link.to_cpu()` from chainerx array fails when `link` has state variables with gradient"
Testing under chainer==6.0.0 with chainerx built and cupy installed.
Testing environment has only 1 GPU.

Code to reproduce:
[code]

which raises following error:
[code]

 - When we use `device = chainer.get_device(0)` error does not happen.
 - In order to send chainerx array back to cpu, we need to call `reset_state()`, but it is inconvenient.

Can we consider workaround??

[2019-05-29 01:40] takagi commented on #6576
Thanks. I also ask it to the original author of the Chainer version.

@unnonouno The memnn example implementation is supposed to have low reproducibility on some tasks on the paper. Please see the table above for the result I ran the code. Do you have any idea on how much difference of the error rates can be valid on this problem domain, or on what leads the differences against the paper?

[2019-05-29 01:53] corochann opened #7312 "`optimizer.update()` fails when link has un-initialized parameter"
Testing under chainer==6.0.0 with chainerx built and cupy installed.

Code to reproduce
[code]

[code]

[2019-05-29 04:38] #7190 closed

[2019-05-29 05:05] hvy commented on #7220
Notes about supporting examples relying on `unchain_backward` with ChainerX:
- No actions are required for now, keep those examples unsupported. Explanations follow.
- Unless `enable_double_backprop=True` is given to `chainerx.backward`, graphs are disconnected by default in ChainerX. Thus `unchain_backward` is practically not needed for the above TBPTT (truncated backprop through time) examples.

[2019-05-29 05:35] muupan opened #7315 "chainer.testing.product raises an error when using unicode literals in python 2"
[code]
When I uncomment the first line of the code above, `pytest test_nothing.py` with Python 2.7.15 raises an error when as below.
[code]

This issue is causing CI failure for ChainerRL.

[2019-05-29 06:48] #7272 closed

[2019-05-29 07:13] asi1024 opened #7320 "Unexpected DtypeError in `chainerx.square`"
`chainerx.square` does not accept integer array.
[code]

[2019-05-29 07:25] hvy commented on #6178
Fixed by https://github.com/chainer/chainer/pull/6559.

[2019-05-29 07:25] #6178 closed

[2019-05-29 07:55] niboshi opened #7322 "Add to `StandardUpdater` an option to skip model transfer"
Background: #7220

[2019-05-29 08:04] shmurai commented on #6616
With #7302, I could realize early stopping in ChainerMN using the code like:

[code]

Although I think this is simple enough, it may be better to add a function to do this all at once.

[2019-05-29 09:47] kuenishi commented on #5854
The fix is merged to master and will be included in next release. Feel free to report or reopen if you still have this issue at fixed versions.

[2019-05-29 09:47] #5854 closed

[2019-05-30 04:15] mahendrapgit opened #7332 "code upgrade"
If your issue is a **request for support in using Chainer**,
please post it on [Stack Overflow](https://stackoverflow.com/questions/tagged/chainer).

If it is a **bug report**, **feature request** or **suggestion**,
please take a look at [our contribution guide](https://docs.chainer.org/en/stable/contribution.html).

Specifically, if it is a bug report, these information are very helpful:

* Condi

[2019-05-30 04:17] #7332 closed

[2019-05-30 05:37] #6199 closed

[2019-05-30 07:04] shu65 opened #7335 "Grad is wrong when using `WeightDecay` of Optimizer Hook and loss scaling"
Grad is wrong when using `WeightDecay` and loss scaling.
The cause is that `WeightDecay` is performed before dividing by loss scale.

`WeightDecay` of optimizer hook is performed here:
https://github.com/chainer/chainer/blob/master/chainer/optimizer.py#L810

Dividing by loss scale is here:
https://github.com/chainer/chainer/blob/master/chainer/optimizer.py#L220

Chainer version: v6.0.0 and v7.0.0a

[2019-05-30 12:38] asi1024 opened #7341 "Support built-in abs in ChainerX"

[2019-05-30 13:44] #7057 closed

[2019-05-30 23:08] #5551 closed

[2019-05-31 02:13] okapies opened #7342 "pytest for chainer_tests/test_variable.py fails in single GPU environment"
## Environment
- Chainer version: `master` (`63040e6`)
- CuPy version: `master` (`9db86c4`)
- OS/Platform: Ubuntu 16.04.4 LTS
- CUDA/cuDNN version: CUDA 9.2 / cuDNN 7.5.0

## Details
The following command fails in single GPU environment because `cuda:1` is an invalid device ID in it.

[code]

[2019-05-31 02:39] hvy commented on #6661
For the record, all examples are fixed except for the ones that are located under `examples//chainermn`.

[2019-05-31 04:18] #7315 closed

[2019-05-31 05:44] take-cheeze opened #7343 "Add type alias to StackVector<int64_t, kMaxNdim>"
Relates to https://github.com/chainer/chainer/projects/2#card-16909303

Some other issue relates
- Argument of pooling kernels isn't typed `const&`
- Type of arguments named `stride` should be `Strides`
- Capacity of pad  should be double size of the dimension since it specifies begin and end pad
- There should be better name than Dims (some doesn't relate to dimensions)

[2019-05-31 06:16] takagi commented on #6168
I will make the following things on this issue:
- Adding warnings to examples that result in NaN or Inf in FP16 mode to inform users that such values are currently expected and not caused by wrong setup or environment.
- Leaving comparison between FP32 and FP16 accuracy on the table for examples that don't cause NaN but make worse values.

[2019-05-31 07:38] #7307 closed

[2019-05-31 08:51] #5039 closed

[2019-05-31 18:44] xylee95 opened #7348 "Is there any future plan to include a wrapper to interfac with Scikit Learn's Model Selection for grid search of hyperparams?"
Are there any future plans to include a wrapper to interface with Scikit Learn's Model Selection for grid search of hyperparams?

[2019-06-01 04:28] gwtnb opened #7349 "Add a function which tells why ChainerX is not available"
Although ChainerX has `chainerx.is_available()`, ChainerX does not tell why ChainerX is unavailable. For example, when I changed `LD_LIBRARY_PATH` by mistake, `chainerx.is_available()` told only one bit information, but `import chainerx._core` solved my problem.

[2019-06-01 04:38] gwtnb opened #7350 "Improve error message when ChainerX is unavailable"
When a user attempt to use `cuda:0` device, ChainerX says the device specifier is invalid if `chainerx.is_available()` is `False`. It seems a bit difficult to deduce the actual problem from the message.

[code]

[2019-06-01 05:10] Azuki-Azusa commented on #5621
Thank you！Your method is helpful.

[2019-06-03 02:19] niboshi commented on #6903
https://travis-ci.org/chainer/chainer/jobs/539622517
[code]
[code]

[2019-06-03 05:22] hvy commented on #7341
Built-in as in the Python operator `__abs__`.

[2019-06-03 05:43] imos commented on #6907
I will reopen this issue when I see this issue again. This issue has not observed since Apr 22, so this seems quite rare.

[2019-06-03 05:43] #6907 closed

[2019-06-03 05:45] imos commented on #6913
Friendly ping. This flakiness still sometimes happens.

[2019-06-03 05:46] imos commented on #6911
@toslunar Friendly ping.

[2019-06-03 05:46] imos commented on #6908
@toslunar Friendly ping.

[2019-06-03 05:46] imos commented on #6910
@toslunar Friendly ping.

[2019-06-03 05:51] beam2d opened #7365 "AdamW behavior on CPU changed at v6.0.0 and is now inconsistent to GPU logic"
I just found that there is a code path in Adam (AdamW) on CPU that changes the behavior between v5.4.0 and v6.0.0.
(The problem has been originally reported by @harujoh on Twitter. Thank you!)

**Code to reproduce:**
[code]

chainer==5.4.0 (numpy): `[0.9495 0.9495]`
chainer==6.0.0 (numpy): `[0.89949995 0.89949995]`
chainer==6.0.0 (cupy): `[0.9495 0.9495]`

**Cause**
[Original logic](https://github

[2019-06-03 07:20] niboshi opened #7368 "VAE example does not work with ChainerX"
Version: latest master(ac4e62d3d5c53069d1f4a224989396a28b19c3d8)
Running VAE example with a ChainerX device results in an error.

[code]

[2019-06-03 08:13] keisukefukuda opened #7370 "ChainerMN test fails in `check_allreduce_grad_empty_half` test"
ChainerMN CI fails with the following error:

I'm not sure how this issue is different from #7273, but I confirmed that #7273 does not fix the problem.

The problem seems to happen only on Python 2.7.x, and 4 processes .

[code]

[2019-06-03 11:42] #7320 closed

[2019-06-04 02:57] hvy opened #7385 "`F.clip` does not allow `x_min >= x_max`"
A suggestion to make `F.clip` behave more like `numpy.clip` allowing `x_min >= x_max` instead of raising an error.

[2019-06-04 04:53] okapies commented on #7342
`CHAINER_TEST_GPU_LIMIT=1` works for me. Thanks @niboshi. https://docs.chainer.org/en/stable/contribution.html#how-to-run-tests

[code]

[2019-06-04 04:53] #7342 closed

[2019-06-04 05:17] hvy commented on #7341
Fixed by #7364 .

[2019-06-04 05:17] #7341 closed

[2019-06-04 06:12] hvy opened #7391 "`cudnnFindConvolution*` failures not handled by convolution functions"
The convolution function nodes should consider cases where the cuDNN path is chosen but when cuDNN fails to find an appropriate algorithm (w.r.t. workspace size, tensor layout, etc.). The current behavior is that it fails inside CuPy. This is however being fixed to raise an error instead in https://github.com/cupy/cupy/pull/2234. One possible approach on the Chainer-side would be to fall back to t

[2019-06-04 06:22] kmaehashi commented on #7240
Above PRs have been merged.

[2019-06-04 06:35] hvy commented on #7385
Maybe it doesn't really make sense as no gradients are propagated 🤔

[2019-06-04 06:47] hvy commented on #7385
Let me close this issue.

[2019-06-04 06:47] #7385 closed

[2019-06-04 07:21] hvy commented on #6661
@toslunar Are ChainerMN examples within the scope of this PR?

[2019-06-04 08:00] hvy commented on #7309
Note that if we query the device count, the CUDA environment will be initialized and the `MultiprocessParallelUpdater` can no longer be used https://github.com/chainer/chainer/blob/master/chainer/training/updaters/multiprocess_parallel_updater.py#L136-L140 ?

[2019-06-04 10:35] niboshi opened #7392 "Custom non-function converter"
Chainer has introduced the `@chainer.dataset.converter` decorator for supporting `Device` specifiers in user-defined custom converters.

The problem is that it can only be applied to a function, because it creates a hidden attribute in the subject (`setattr(object(), ...)` causes an error).

Maybe we should provide a base class for converters.

(Reported in #7328.)

[2019-06-05 00:00] niboshi commented on #7309
Pytorch's way of multiprocessing:
https://gist.github.com/colesbury/606e3838d56ca33996cc40ef00bcdb6b

Much cleaner.

[2019-06-05 03:38] emcastillo commented on #7348
Thank you for your feedback!

Unfortunately we do not plan to directly interface chainer models with sklearn.
However it is not difficult to do it from the user side, I share a gist here that shows how to wrapper a chainer classifier inside a sklearn estimator interface for grid search and other hyper parameter tuning strategies to work. Please note that GridSearchCV relies on cross-validation wit

[2019-06-05 03:46] #7348 closed

[2019-06-05 04:26] #7368 closed

[2019-06-05 09:16] #5731 closed

[2019-06-05 09:21] #7240 closed

[2019-06-05 09:26] niboshi opened #7406 "Split rounding routines"

[2019-06-05 09:47] niboshi opened #7408 "Make ChainerX able to build using cuDNN (library/header) included in installed cupy wheel, by an environment variable"
Follows #7244

[2019-06-05 09:48] #7244 closed

[2019-06-05 10:16] #6088 closed

[2019-06-06 02:24] emcastillo opened #7414 "Split arithmetic routines"

[2019-06-06 04:22] emcastillo commented on #6609
https://discuss.pytorch.org/t/training-with-half-precision/11815

Seems like this is a global issue due to the numerical format itself

[2019-06-06 05:30] #7370 closed

[2019-06-06 06:45] gwtnb opened #7420 "Print ChainerX internal stack trace"
ChainerX prints a stack trace when an exception is not caught, but it only contains the python stack. It may difficult to debug only from python stack trace, so printing C++ stack seems preferred.

The following is an example. C++ stack is not shown. It is an artificial example generated by using `LD_PRELOAD`, so it does not indicate there is a bug. Just for a demo.

[code]

[2019-06-06 07:23] take-cheeze commented on #7420
[abseil](https://abseil.io/about/intro) has stacktracer and symbolizer: https://github.com/abseil/abseil-cpp/tree/master/absl/debugging
And we can replace some third_party submodules with it too.

[2019-06-06 09:26] #7350 closed

[2019-06-06 10:03] take-cheeze opened #7422 "Should install ChainerX C++ headers with libchainerx.so on pip install"
Currently most easiest way to install ChainerX is to build via pip but pip doesn't install headers.
So it should install C++ headers too for convenience.

[2019-06-06 10:59] toslunar opened #7424 "Use `...` instead of `:`"
### Code to reproduce
[code]

### Error messages, stack traces, or logs
1. Deserializing a link with ()-shaped uninitialized parameter fails:
[code]

2. AdamW fails:
[code]

[2019-06-06 11:22] toslunar opened #7427 "type hint of `shape` of `initializers.generate_array` is too broad"
`chainerx.empty` does not support general sequences of ints.

https://github.com/chainer/chainer/blob/af7ea7895e475ea2bfba5d3c1b3065ca16d8e92c/chainer/types.py#L24-L27

https://github.com/chainer/chainer/blob/af7ea7895e475ea2bfba5d3c1b3065ca16d8e92c/chainer/initializers/__init__.py#L28-L29

### Code to reproduce
[code]

### Error messages, stack traces, or logs
[code]

[2019-06-06 15:42] hvy opened #7432 "List up major features not covered by examples"
The motivation is to find out if they require modifications in order to work with ChainerX.

#### Features not yet covered

- Dataset
  - `TabularDataset`
  - `ConcatenatedDataset`
  - `DictDataset`
  - `PickleDataset`
  - `SubDataset`
  - `TupleDataset`
- Distributions
  - Most (not used in VAE) are untested.
- Exporters
  - None are tested (only `caffe` exists).
- Function hooks
  - None are tes

[2019-06-06 17:12] yixuan178 commented on #5378
it seems long time passed, how about cuda 10 support? any progress?

[2019-06-07 01:46] takagi commented on #5378
Chainer and CuPy now support CUDA 10.0 as well as 10.1.

[2019-06-07 02:42] emcastillo opened #7436 "Split Logic Routines"
Move comparisson routines from math (isnan, isfinite) to the logic module as in numpy.

[2019-06-07 03:26] niboshi opened #7440 "In `FindCuDNN.cmake`, prioritize cmake -D option over environment variable"
Currently environment variable `CUDNN_INDCLUDE_DIR` environment variable, for example, is prioritized over `-DCUDNN_INCLUDE_DIR=...` argument to cmake.

Needed for #7408.

[2019-06-07 05:25] niboshi commented on #6088
@okapies Is it ok to leave this issue closed?

[2019-06-07 06:03] #7414 closed

[2019-06-07 06:21] hvy commented on #6191
This is still an issue.

[2019-06-07 08:54] okapies commented on #6088
Np. Reopen it when I hit the problem again.

[2019-06-07 10:15] #7264 closed

[2019-06-08 03:24] #5457 closed

[2019-06-10 05:00] emcastillo commented on #7310
Hello,

The problem here is related to chainerx maintaining the computational graph.
The gru state requires the gradient to be computed for backpropagation and when it is copied out of chainerx the graph can be let in a non-consistent state.

In order to properly address this issue, we would like to know what you were intending to do and if you were expecting the computational graph to be cut.

Th

[2019-06-10 05:23] #7084 closed

[2019-06-10 05:38] hvy opened #7451 "ChainerX info not included in `_RuntimeInfo`"
It would make sense to include info about ChainerX in `chainer._runtime_info._RuntimeInfo` so that it becomes accessible from `chainer.print_runtime_info()`. Information such as if the module is available (`chainerx.is_available()`), if it's built in debug mode, with CUDA or other backends, etc.

[2019-06-10 07:57] hvy commented on #6913
I also verified locally that this still happens, sorry for the delay. The cause is however not clear yet and  I'll have to investigate.

[2019-06-10 09:27] hvy commented on #7440
Closing as fixed.

[2019-06-10 09:27] #7440 closed

[2019-06-10 10:32] toslunar opened #7454 "Cannot backprop through mixed (ChainerX and non-ChainerX) backends"
A variable with a non-ChainerX backend promotes to a ChainerX array in `FunctionNode.apply`.  However, `chainerx.backward` called by `Variable.backward` etc. ignores non-ChainerX part of the comp graph.

### Code to reproduce
[code]

### Error messages, stack traces, or logs
[code]

[2019-06-11 04:02] #7427 closed

[2019-06-11 04:04] #6359 closed

[2019-06-11 05:44] hvy commented on #7432
Will create a spreadsheet instead to better manage the states and priorities of each item.

[2019-06-11 07:08] emcastillo commented on #6191
Worked on a PR to start addressing this. Right now its only an adapter between both implementations.
There is the need of discuss how to proceed from now on #7464

[2019-06-11 07:25] #7343 closed

[2019-06-11 07:35] superhez commented on #7286
Sorry for late reply. I am just wondering if there were mentioned record included, it might be used to manage the trained models  as a much reliable evidence than file's created/modified properties or the filename.

[2019-06-11 07:41] niboshi opened #7466 "Make C++ debug via Python easier"
Ideas:
- Store Python stack trace in each op
- Sleep on assertion failure (to wait for gdb to attach)

[2019-06-11 07:44] niboshi commented on #7420
Related: #7466
It might as well be possible to sleep on exception. (but there may be cases where it is not possible to attach gdb)

[2019-06-11 09:16] niboshi opened #7470 "Provide CUDA context check function for multiprocessing"
Prompted by #7309, it has been discussed how to give a comprehensible errors for mistakingly created CUDA context before fork (e.g. in `MultiprocessParallelUpdater`) without calling `multiprocessing.set_start_method()`. This is the summary of conclusion:

* [ ] Create a function to ensure that no CUDA context has been created (using `cuCtxGetCurrent`).
* [ ] Call the function at `MultiprocessParal

[2019-06-11 09:43] niboshi commented on #7470
We missed that `MultiprocessParallelUpdater` already does such check.
Only what should be done is to check the device count in  `chainer.get_device` (#7309).